<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/UI/dist/css/style.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <title>ทดลองส่งemail</title> -->
</head>

<body>
    <div class="mt-4">

        <div class="text-center">
            <div>
                <img src="/UI/assets/images/logo.png" alt="homepage" class="dark-logo" width="60px" />
            </div>
            <div class="mt-4">
                <h3>
                    ทางบริษัท ขอขอบคุณที่แสดงความคิดเห็น
                </h3>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form action="/<%=process.env.SUBFOLDER%>confirm_approve" method="post">
                            <div class="card card-body">
                                <div style="text-align: left;">
                                    <div id="comment_link_approve">

                                    </div>
                                    <hr>
                                </div>
                                <div style="text-align: left;">
                                    <input type="hidden" name="comment_id" value="<%=commentid%>" readonly>
                                    <label style="font-weight: bolder;margin-bottom: 1%;">คำแนะนำเพิ่มเติม :</label>

                                    <textarea type="text" name="comment_remark" placeholder="หมายเหตุ.."
                                        class="form-control"></textarea>
                                </div><br>
                                <div style="inline-size: inherit;">
                                    <button type="submit" class="btn btn-success col-md-2">ยืนยัน</button>
                                    <button onclick="window.close()" class="btn btn-danger col-md-2">ยกเลิก</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #banner {
            /* width: 50%; */
            border: 1.5px solid black;
            box-sizing: border-box;
        }
    </style>


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script>
        var server = window.location.hostname;
        document.getElementById('comment_link_approve').innerHTML = 'Link:<a href="http://'+server+':8081/show_slide/<%=comment_data[0].doc_id%>" target="_blank" rel="noopener noreferrer">http://'+server+':8081/show_slide/<%=comment_data[0].doc_id%></a>'
    </script>
</body>

</html>