<%- include('../_header') -%>
    <!-- <%=JSON.stringify(html)%> -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">Policy Doc</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">Policy Doc</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6" style="float: right;text-align: right;">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add_policydoc"><i
                        class="fas fa-plus"></i>
                    เพิ่มเอกสาร</button>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <form action="/<%=process.env.SUBFOLDER%>SearchPolicy" method="POST">

            <div class="row pb-2 justify-content-end">

                <div class="col-md-4 justify-content-start align-self-center d-none d-md-flex">

                </div>
                <div class="col-12 ">
                    <div class="d-flex">
                        <div class="col-6">
                            <div class="col-md-12 input-group">
                                <a href="/<%=process.env.SUBFOLDER%>index" class="btn btn-outline-warning"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-refresh-cw">
                                        <polyline points="23 4 23 10 17 10"></polyline>
                                        <polyline points="1 20 1 14 7 14"></polyline>
                                        <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15">
                                        </path>
                                    </svg></a>
                                <span class="input-group-text">
                                    เลือกประเภทเอกสาร
                                </span>
                                <select name="search_doc_type" class="form-control" required
                                    style="background-color: white;">
                                    <option value="-1" <%if(search_doc_type==-1){%> selected <%}%> >
                                            เลือกทั้งหมด
                                    </option>
                                    <% if(doc_type){ %>
                                        <% for(var i=0;i<doc_type.length;i++){%>
                                            <option value="<%= doc_type[i].doc_type_id %>"
                                                <%if(search_doc_type==doc_type[i].doc_type_id){%>selected<%}%> >
                                                    <%= doc_type[i].doc_type_name %>
                                            </option>
                                            <% } %>
                                                <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="col-md-12 input-group">
                                <span class="input-group-text">
                                    เลือกสถานะ
                                </span>
                                <select name="search_doc_status" class="form-control" required
                                    style="background-color: white;">
                                    <option value="-1" <%if(search_doc_status==-1){%>selected<%}%>>
                                            เลือกทั้งหมด
                                    </option>
                                    <option value="0" <%if(search_doc_status==0){%>selected<%}%>>
                                            ร่าง
                                    </option>
                                    <option value="1" <%if(search_doc_status==1){%>selected<%}%>>
                                            ต้นฉบับ
                                    </option>
                                    <option value="2" <%if(search_doc_status==2){%>selected<%}%>>
                                            ใช้งาน
                                    </option>
                                    <option value="3" <%if(search_doc_status==3){%>selected<%}%>>
                                            ยกเลิก
                                    </option>
                                </select>
                                <button type="button" class="btn btn-outline-warning" style="vertical-align: -.5px;"
                                    onclick="this.form.submit()">ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br>
        <div class="tab-content">
            <div id="note-full-container" class="note-has-grid row">
                <input id="doc_i" value="<%=doc_i%>" readonly hidden />
                <input id='doc_n' value="<%=doc_n%>" readonly hidden />
                <input id="doc_r" value="<%=doc_r%>" readonly hidden />
                <input id='doc_t' value="<%=doc_t%>" readonly hidden />
                <input id="doc_status" value="<%=doc_status%>" readonly hidden />
                <input id="doc_consent_status" value="<%=doc_consent_status%>" readonly hidden />
                <% for(var j=0;j<have_doc1.length;j++){ %>
                    <strong>
                        <div class="col-12" style="font-weight: bold;">
                            <h3>
                                <%=have_doc1[j].have_doc_name%>
                            </h3>
                            <br>
                        </div>
                    </strong>
                    <% for(var i=0;i<doc.length;i++){ %>
                        <% if(have_doc1[j].have_doc_id==doc[i].doc_type_id ){ %>
                            <%if(doc[i].doc_status==0){%>
                                <div class="col-md-4">
                                    <a href="/<%=process.env.SUBFOLDER%>paper/<%=doc[i].doc_id%>" title="คลิก เพื่อปรับปรุงเอกสาร">
                                        <div class="card-header bg-secondary text-white">
                                            <h4 class="card-title text-white"></i>
                                                <%if(doc[i].type==2){%>
                                                    ชื่อเอกสาร : <%=doc[i].doc_name%>
                                                        <%}else{%>
                                                            ชื่อเอกสาร : <%=doc[i].doc_name%>
                                                                <%}%>
                                            </h4>
                                        </div>
                                    </a>

                                    <div class="card card-body " style="background-color: rgb(255, 255, 255);">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        วันที่สร้าง</label>
                                                    <div class="col-md-8">
                                                        <p class="form-control-static" style="display: inline">
                                                            <%=doc[i].doc_date_create%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <a href="/<%=process.env.SUBFOLDER%>show_slide/<%=doc[i].doc_id%>" title="คลิกแชร์เอกสาร"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        data-feather="link-2"></i></a>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        ผู้สร้าง </label>
                                                    <div class="col-md-8">
                                                        <p class="form-control-static" style="display: inline">
                                                            <%=my_user[0].name%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <a href="#" id="<%=doc[i].doc_id%>"
                                                    onclick="setlink(this.id,'<%=doc[i].doc_name%>')"
                                                    title="คลิกเพื่อส่ง Email" data-bs-toggle="modal"
                                                    data-bs-target="#setlink-modal"><i data-feather="share-2"></i></a>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        สถานะ </label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static text-secondary"
                                                            style="display: inline"> ร่าง </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <a href="/<%=process.env.SUBFOLDER%>print_doc_policy/<%=doc[i].doc_id%>" title="คลิกพิมพ์เอกสาร"
                                                    target="_blank" rel="noopener noreferrer" class="col-md-1"><i
                                                        data-feather="printer"></i></a>
                                            </div>
                                            <div class="col-md-11">
                                                <!-- <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        ผู้ตรวจสอบ </label>
                                                    <div class="col-md-8">
                                                        <p class="form-control-static" style="display: inline;color: red;">
                                                            Option มีเฉพาะรุ่น Alltra
                                                        </p>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="col-md-11">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-5 font-weight-medium">
                                                        วันที่เริ่มใช้งาน
                                                    </label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static" style="display: inline"> - </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-11">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-5 font-weight-medium">
                                                        วันที่ยกเลิก
                                                    </label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static" style="display: inline"> - </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <a id="<%=doc[i].doc_id%>" href="#" onclick="editdoc(this.id)"
                                                class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#edit_doc"><i class="fas fa-pencil-alt fa-x"></i>
                                                กำหนดสถานะเอกสาร</a>
                                                
                                                <% var c_one = 0%>
                                                <% for(var n_one=0;n_one<check_a2.length;n_one++){%>
                                                    <% if (check_a2[n_one]==doc[i].doc_id) {%>
                                                        <% var c_one = 1%>
                                                        <button class="btn btn-secondary" disabled><i class="fas fa-trash-alt fa-x"></i> ลบเอกสาร</button>
                                                        <%}%>
                                                    <%}%>
                                                    <% if (c_one == 0) {%>
                                                        <a id="<%=doc[i].doc_id%>" href="#" onclick="deldoc(this.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_doc">
                                                            <i class="fas fa-trash-alt fa-x"></i>ลบเอกสาร</a>
                                                    <%}%>

                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                    <%if(doc[i].doc_status==1){%>
                                        <div class="col-md-4">
                                            <a href="/<%=process.env.SUBFOLDER%>paper/<%=doc[i].doc_id%>" title="คลิก เพื่อปรับปรุงเอกสาร">
                                                <div class="card-header bg-info text-white">
                                                    <h4 class="card-title text-white"></i>
                                                        <%if(doc[i].type==2){%>
                                                            ชื่อเอกสาร : <%=doc[i].doc_name%>
                                                                <%}else{%>
                                                                    ชื่อเอกสาร : <%=doc[i].doc_name%>
                                                                        <%}%>
                                                    </h4>
                                                </div>
                                            </a>

                                            <div class="card card-body " style="background-color: rgb(255, 255, 255);">
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                วันที่สร้าง</label>
                                                            <div class="col-md-8">
                                                                <p class="form-control-static" style="display: inline">
                                                                    <%=doc[i].doc_date_create%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a href="/<%=process.env.SUBFOLDER%>show_slide/<%=doc[i].doc_id%>" title="คลิกแชร์เอกสาร"
                                                            target="_blank" rel="noopener noreferrer"><i
                                                                data-feather="link-2"></i></a>
                                                    </div>
                                                    <div class="col-md-11">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                ผู้สร้าง </label>
                                                            <div class="col-md-8">
                                                                <p class="form-control-static" style="display: inline">
                                                                    <%=my_user[0].name%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a href="#" id="<%=doc[i].doc_id%>"
                                                            onclick="setlink(this.id,'<%=doc[i].doc_name%>')"
                                                            title="คลิกเพื่อส่ง Email" data-bs-toggle="modal"
                                                            data-bs-target="#setlink-modal"><i
                                                                data-feather="share-2"></i></a>
                                                    </div>

                                                    <div class="col-md-11">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                สถานะ </label>
                                                            <div class="col-md-6">
                                                                <p class="form-control-static text-info"
                                                                    style="display: inline">
                                                                    ต้นฉบับ
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a href="/<%=process.env.SUBFOLDER%>print_doc_policy/<%=doc[i].doc_id%>"
                                                            title="คลิกพิมพ์เอกสาร" target="_blank"
                                                            rel="noopener noreferrer" class="col-md-1"><i
                                                                data-feather="printer"></i></a>
                                                    </div>

                                                    <div class="col-md-11">
                                                        <!-- <div class="form-group row py-1">
                                                                    <label
                                                                        class="control-label text-start col-md-4 font-weight-medium">
                                                                        ผู้ตรวจสอบ </label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static" style="display: inline;color: red;">
                                                                            Option มีเฉพาะรุ่น Alltra
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a href="#" id="<%=doc[i].doc_id%>" onclick="copydoc(this.id)"
                                                            data-bs-toggle="modal" data-bs-target="#copydoc-modal"
                                                            class="col-md-1"><i data-feather="copy"></i></a>
                                                    </div>


                                                    <div class="col-md-11">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-5 font-weight-medium">
                                                                วันที่เริ่มใช้งาน
                                                            </label>
                                                            <div class="col-md-7">
                                                                <p class="form-control-static" style="display: inline">
                                                                    - </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-11">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-5 font-weight-medium">
                                                                วันที่ยกเลิก
                                                            </label>
                                                            <div class="col-md-7">
                                                                <p class="form-control-static" style="display: inline">
                                                                    - </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <a id="<%=doc[i].doc_id%>" href="#" onclick="editdoc(this.id)"
                                                        class="btn btn-warning" data-bs-toggle="modal"
                                                        data-bs-target="#edit_doc"><i
                                                            class="fas fa-pencil-alt fa-x"></i>
                                                        กำหนดสถานะเอกสาร</a>
                                                        <% var c_one = 0%>
                                                        <% for(var n_one=0;n_one<check_a2.length;n_one++){%>
                                                            <% if (check_a2[n_one]==doc[i].doc_id) {%>
                                                                <% var c_one = 1%>
                                                                <button class="btn btn-secondary" disabled><i class="fas fa-trash-alt fa-x"></i> ลบเอกสาร</button>
                                                                <%}%>
                                                            <%}%>
                                                            <% if (c_one == 0) {%>
                                                                <a id="<%=doc[i].doc_id%>" href="#" onclick="deldoc(this.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_doc">
                                                                    <i class="fas fa-trash-alt fa-x"></i>ลบเอกสาร</a>
                                                            <%}%>
                                                </div>
                                            </div>
                                        </div>

                                        <%}%>
                                            <%if(doc[i].doc_status==2){%>
                                                <div class="col-md-4">
                                                    <a href="/<%=process.env.SUBFOLDER%>paper/<%=doc[i].doc_id%>"
                                                        title="คลิก เพื่อปรับปรุงเอกสาร">
                                                        <div class="card-header bg-success text-white">
                                                            <h4 class="card-title text-white"></i>
                                                                <%if(doc[i].type==2){%>
                                                                    ชื่อเอกสาร : <%=doc[i].doc_name%>

                                                                        <%}else{%>
                                                                            ชื่อเอกสาร :
                                                                            <%=doc[i].doc_name%>
                                                                                <%}%>
                                                            </h4>
                                                        </div>
                                                    </a>

                                                    <div class="card card-body "
                                                        style="background-color: rgb(255, 255, 255);">
                                                        <div class="row">
                                                            <div class="col-md-11">
                                                                <div class="form-group row py-1">
                                                                    <label
                                                                        class="control-label text-start col-md-4 font-weight-medium">
                                                                        วันที่สร้าง</label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static"
                                                                            style="display: inline">
                                                                            <%=doc[i].doc_date_create%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="/<%=process.env.SUBFOLDER%>show_slide/<%=doc[i].doc_id%>"
                                                                    title="คลิกแชร์เอกสาร" target="_blank"
                                                                    rel="noopener noreferrer"><i
                                                                        data-feather="link-2"></i></a>
                                                            </div>
                                                            <div class="col-md-11">
                                                                <div class="form-group row py-1">
                                                                    <label
                                                                        class="control-label text-start col-md-4 font-weight-medium">
                                                                        ผู้สร้าง </label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static"
                                                                            style="display: inline">
                                                                            <%=my_user[0].name%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="#" id="<%=doc[i].doc_id%>"
                                                                    onclick="setlink(this.id,'<%=doc[i].doc_name%>')"
                                                                    title="คลิกเพื่อส่ง Email" data-bs-toggle="modal"
                                                                    data-bs-target="#setlink-modal"><i
                                                                        data-feather="share-2"></i></a>
                                                            </div>
                                                            <div class="col-md-11">
                                                                <div class="row py-1">
                                                                    <label
                                                                        class="control-label text-start col-md-4 font-weight-medium">
                                                                        สถานะ </label>
                                                                    <div class="col-md-6">
                                                                        <p class="form-control-static text-success"
                                                                            style="display:inline;">
                                                                            ใช้งาน </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-1 d-flex justify-content-start">
                                                                <a href="/<%=process.env.SUBFOLDER%>print_doc_policy/<%=doc[i].doc_id%>"
                                                                    title="คลิกพิมพ์เอกสาร" target="_blank"
                                                                    rel="noopener noreferrer" class="col-md-1"><i
                                                                        data-feather="printer"></i></a>
                                                            </div>

                                                            <div class="col-md-11">
                                                                <!-- <div class="form-group row py-1">
                                                                                <label
                                                                                    class="control-label text-start col-md-4 font-weight-medium">
                                                                                    ผู้ตรวจสอบ </label>
                                                                                <div class="col-md-8">
                                                                                    <p class="form-control-static" style="display: inline;color: red;">
                                                                                        Option มีเฉพาะรุ่น Alltra
                                                                                    </p>
                                                                                </div>
                                                                            </div> -->
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="/<%=process.env.SUBFOLDER%>api_support/<%=doc[i].doc_id%>"
                                                                    title="คลิกเพื่อรับ Link" class="col-md-1"><i
                                                                        class="fas fa-code-branch"
                                                                        style="font-size: 27px;"></i> </a>
                                                            </div>

                                                            <div class="col-md-11">
                                                                <div class="form-group row py-1">
                                                                    <label
                                                                        class="control-label text-start col-md-4 font-weight-medium">
                                                                        วันที่เริ่มใช้งาน
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static"
                                                                            style="display: inline">
                                                                            <%=status_date_use[0].date_history%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-11">
                                                                <div class="form-group row py-1">
                                                                    <label
                                                                        class="control-label text-start col-md-4 font-weight-medium">
                                                                        วันที่ยกเลิก
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static"
                                                                            style="display: inline"> -
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <a id="<%=doc[i].doc_id%>" href="#"
                                                                onclick="editdoc(this.id)" class="btn btn-warning"
                                                                data-bs-toggle="modal" data-bs-target="#edit_doc"><i
                                                                    class="fas fa-pencil-alt fa-x"></i>
                                                                กำหนดสถานะเอกสาร</a>
                                                                <% var c_one = 0%>
                                                                <% for(var n_one=0;n_one<check_a2.length;n_one++){%>
                                                                    <% if (check_a2[n_one]==doc[i].doc_id) {%>
                                                                        <% var c_one = 1%>
                                                                        <button class="btn btn-secondary" disabled><i class="fas fa-trash-alt fa-x"></i> ลบเอกสาร</button>
                                                                        <%}%>
                                                                    <%}%>
                                                                    <% if (c_one == 0) {%>
                                                                        <a id="<%=doc[i].doc_id%>" href="#" onclick="deldoc(this.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_doc">
                                                                            <i class="fas fa-trash-alt fa-x"></i>ลบเอกสาร</a>
                                                                    <%}%>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <%if(doc[i].doc_status==3){%>
                                                        <div class="col-md-4">
                                                            <a href="/<%=process.env.SUBFOLDER%>paper/<%=doc[i].doc_id%>"
                                                                title="คลิก เพื่อปรับปรุงเอกสาร">
                                                                <div class="card-header bg-danger text-white">
                                                                    <h4 class="card-title text-white"></i>
                                                                        <%if(doc[i].type==2){%>
                                                                            ชื่อเอกสาร :
                                                                            <%=doc[i].doc_name%>

                                                                                <%}else{%>
                                                                                    ชื่อเอกสาร :
                                                                                    <%=doc[i].doc_name%>
                                                                                        <%}%>
                                                                    </h4>
                                                                </div>
                                                            </a>

                                                            <div class="card card-body "
                                                                style="background-color: rgb(255, 255, 255);">
                                                                <div class="row">
                                                                    <div class="col-md-11">
                                                                        <div class="form-group row py-1">
                                                                            <label
                                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                                วันที่สร้าง</label>
                                                                            <div class="col-md-8">
                                                                                <p class="form-control-static"
                                                                                    style="display: inline">
                                                                                    <%=doc[i].doc_date_create%>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="form-group row py-1">
                                                                            <label
                                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                                ผู้สร้าง </label>
                                                                            <div class="col-md-8">
                                                                                <p class="form-control-static"
                                                                                    style="display: inline">
                                                                                    <%=my_user[0].name%>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-11">
                                                                        <div class="form-group row py-1">
                                                                            <label
                                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                                สถานะ </label>
                                                                            <div class="col-md-6">
                                                                                <p class="form-control-static text-danger"
                                                                                    style="display: inline">
                                                                                    ยกเลิก </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-md-11">
                                                                        <!-- <div class="form-group row py-1">
                                                                                        <label
                                                                                            class="control-label text-start col-md-4 font-weight-medium">
                                                                                            ผู้ตรวจสอบ </label>
                                                                                        <div class="col-md-8">
                                                                                            <p class="form-control-static" style="display: inline;color: red;">
                                                                                                Option มีเฉพาะรุ่น Alltra
                                                                                            </p>
                                                                                        </div>
                                                                                    </div> -->
                                                                    </div>

                                                                    <div class="col-md-11">
                                                                        <div class="form-group row py-1">
                                                                            <label
                                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                                วันที่เริ่มใช้งาน
                                                                            </label>
                                                                            <div class="col-md-8">
                                                                                <p class="form-control-static"
                                                                                    style="display: inline">
                                                                                    <%=status_date_use[0].date_history%>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                    <div class="col-md-11">
                                                                        <div class="form-group row py-1">
                                                                            <label
                                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                                วันที่ยกเลิก
                                                                            </label>
                                                                            <div class="col-md-8">
                                                                                <p class="form-control-static"
                                                                                    style="display: inline">
                                                                                    <%=status_date_cancle[0].date_history%>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a id="<%=doc[i].doc_id%>" href="#"
                                                                        onclick="editdoc(this.id)"
                                                                        class="btn btn-warning" data-bs-toggle="modal"
                                                                        data-bs-target="#edit_doc"><i
                                                                            class="fas fa-pencil-alt fa-x"></i>
                                                                        กำหนดสถานะเอกสาร</a>
                                                                        
                                                                        <% var c_one = 0%>
                                                                        <% for(var n_one=0;n_one<check_a2.length;n_one++){%>
                                                                            <% if (check_a2[n_one]==doc[i].doc_id) {%>
                                                                                <% var c_one = 1%>
                                                                                <button class="btn btn-secondary" disabled><i class="fas fa-trash-alt fa-x"></i> ลบเอกสาร</button>
                                                                                <%}%>
                                                                            <%}%>
                                                                            <% if (c_one == 0) {%>
                                                                                <a id="<%=doc[i].doc_id%>" href="#" onclick="deldoc(this.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_doc">
                                                                                    <i class="fas fa-trash-alt fa-x"></i>ลบเอกสาร</a>
                                                                            <%}%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <%}%>
                                                            <%}%>
                                                                <%}%>
                                                                    <%}%>
            </div>
        </div>


        <form action="/<%=process.env.SUBFOLDER%>paper" method="POST">
            <div class="modal fade" id="add_policydoc" class="modal fade" tabindex="-1"
                aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header border-bottom title-part-padding">
                            <h3 style="color:black" class="modal-title ">
                                เพิ่มเอกสาร</h3>
                            <button type=" button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="mb row">
                                    <label for="fname" class="col-sm-4 text-start control-label col-form-label">
                                        ชื่อเอกสาร:</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="doc_name" placeholder="กรอกชื่อเอกสาร.."
                                            class="form-control" required style="margin-bottom: 10px;">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="lname"
                                        class="col-sm-4 text-start control-label col-form-label">ชนิดเอกสาร :
                                    </label>
                                    <div class="col-sm-8 ">
                                        <select name="doc_type_id" class="form-control" value="<%=search_doc_type[0]%>"
                                            required>
                                            <option selected disabled value="">
                                                เลือก.. </option>
                                            <% if(doc_type){ %>
                                                <% for(var i=0;i<doc_type.length;i++){%>
                                                    <option value="<%= doc_type[i].doc_type_id %>">
                                                        <%= doc_type[i].doc_type_name %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="email1"
                                        class="col-sm-4 text-start control-label col-form-label">หมายเหตุ
                                        :</label>
                                    <div class="col-sm-8">
                                        <textarea name="doc_remark" class="form-control"
                                            placeholder="หมายเหตุ.."></textarea>
                                    </div>
                                </div>
                                <input type="text" name="doc_date_create" id="" value="<%= data3[0].new %>" readonly
                                    hidden>
                            </div>
                        </div>
                        <div class="mb-3  text-center">
                            <button type="submit" class="btn btn-success">
                                บันทึกเอกสาร </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                ปิด
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form action="/<%=process.env.SUBFOLDER%>updatedoc" method="POST">
            <div class="modal fade" id="edit_doc" class="modal fade" tabindex="-1"
                aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header border-bottom title-part-padding">
                            <h3 style="color:black" class="modal-title " ">
                            กำหนดสถานะเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div align="left" class="modal-body">
                            <div class="card-body" id="editdoc">

                            </div>
                        </div>
                        <div class="mb-3  text-center">
                            <button type="submit" class="btn btn-warning">
                                บันทึกเอกสาร </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                ปิด
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form action="/<%=process.env.SUBFOLDER%>deletedoc" method="POST">
            <div class="modal fade" id="del_doc" class="modal fade" tabindex="-1"
                aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header border-bottom title-part-padding">
                            <h3 style="color:black" class="modal-title " ">
                            ยืนยันการลบเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body" id="deletedoc">

                            </div>
                        </div>
                        <div class="mb-3  text-center">
                            <button type="submit" class="btn btn-danger">
                                ลบเอกสาร </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                ปิด
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form action="/<%=process.env.SUBFOLDER%>copydoc_save" method="POST">
            <div id="copydoc-modal" class="modal fade show" tabindex="-1" aria-labelledby="info-header-modalLabel"
                aria-modal="true" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header bg-info text-white">
                            <h4 class="modal-title" id="info-header-modalLabel">
                                คัดลอกเอกสาร
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="copydoc_input">

                        </div>
                        <div class="mb-3  text-center">
                            <button type="submit" class="btn btn-info font-weight-medium">ยืนยัน</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <style>
            .note-insert {
                display: none;
            }
        </style>
        <form action="/<%=process.env.SUBFOLDER%>sent_mail" method="POST" id="submitalert">
            <div id="setlink-modal" class="modal fade show" tabindex="-1" aria-labelledby="info-header-modalLabel"
                aria-modal="true" role="dialog">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header bg-info text-white">
                            <h4 class="modal-title" id="info-header-modalLabel">
                                แชร์เอกสาร
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <input type="email" name="email_outside" class="form-control"
                                    placeholder="อีเมลล์ผู้รับ" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" name="subject" class="form-control" placeholder="หัวข้อ"
                                    onkeyup="updatehead(this.value)" required>
                            </div>
                            <h2 class="bold">Preview <span id="updatename"></span></h2>
                            <div style="border-style:solid ;padding: 3%;" id="setcode">
                                <%-html%>
                            </div>
                            <input id="setdoc_id" type="hidden" name="link_doc_id" readonly>
                            <input id="comment_doc_id" type="hidden" name="doc_id" readonly>
                            <input id="server_doc_path" type="hidden" name="server_doc_path" readonly>
                            <div class="card-body" align="left">
                                <br />
                                <div class="form-group">
                                    <textarea id="myEditor2" class="summernote" name="page_content"
                                        style="display: none;"><%-html%></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3  text-center">
                            <a onclick="submitalert()" class="btn btn-info font-weight-medium">ส่ง</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </form>
        <input type="hidden" value="<%=html%>" id="html">
        <input type="hidden" value="<%=host%>" id="host">

    </div>

    <script>
        function submitalert() {

            Swal.fire({

                type: 'success',
                title: 'จัดส่ง เรียบร้อย',
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                $("#submitalert").submit();
            })




        }
    </script>
    <!-- ========================= -->
    <!-- share_document_policy -->
    <!-- ========================= -->


    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script>


        function checked_doc_consent() {
            if (document.getElementById('checked_doc_consent').checked) {
                document.getElementById('checked_doc_consent').value = 0
            } else {
                document.getElementById('checked_doc_consent').value = 1
            }
        }
        function updatehead(value) {
            document.getElementById('updatename').innerHTML = value
        }

        // function edit_checked_doc_consent(){
        //     if(document.getElementById('edit_checked_doc_consent').checked){
        //         document.getElementById('edit_checked_doc_consent').value = 0
        //         document.getElementById('edit_checked_doc_consent').attributes('checked',false)
        //     }else{
        //         document.getElementById('edit_checked_doc_consent').value = 1
        //         document.getElementById('edit_checked_doc_consent').attributes('checked',true)
        //     } 
        // }

        function setlink(id, name) {
            var html = document.querySelector('#html').value
            var host = document.querySelector('#host').value
            document.getElementById('setdoc_id').value = id
            document.getElementById('comment_doc_id').value = id
            document.getElementById('server_doc_path').value = host
            var repalce = html.replaceAll("#descrips", name);
            repalce = repalce.replaceAll("#host", host + '/show_slide/' + id);
            $("#setcode").html(repalce);
            $(".summernote").summernote("code", repalce);
        }

        function copydoc(id) {
            document.getElementById('copydoc_input').innerHTML = '<h5 align="center">ยืนยันการคัดลอกเอกสาร ?</h5>' + '<input type="hidden" name="doc_id" value="' + id + '" readonly>'
        }


        function editdoc(id) {
            const doc_id = document.getElementById("doc_i").value //doc_id
            const doc_name = document.getElementById('doc_n').value //doc_name
            const doc_type_id = document.getElementById('doc_t').value //doc_type_id
            const doc_remark = document.getElementById('doc_r').value //doc_remark
            const doc_status = document.getElementById('doc_status').value //doc_status
            const doc_consent_status = document.getElementById('doc_consent_status').value //doc_consent_status

            let sort_doc_id = doc_id.split(',')
            let sort_doc_name = doc_name.split(',')
            let sort_doc_type_id = doc_type_id.split(',')
            let sort_doc_remark = doc_remark.split(',')
            let sort_doc_status = doc_status.split(',')
            let sort_doc_consent_status = doc_consent_status.split(',')

            let obj = []
            var editdoc = document.getElementById("editdoc");

            for (i in sort_doc_id) {
                obj.push({ "doc_id": sort_doc_id[i], "doc_name": sort_doc_name[i], "doc_type_id": sort_doc_type_id[i], "doc_remark": sort_doc_remark[i], "doc_status": sort_doc_status[i], "doc_consent_status": sort_doc_consent_status[i] })
            }

            for (j in obj) {
                if (id == obj[j].doc_id) {
                    if (obj[j].doc_consent_status == 1) {
                        editdoc.innerHTML = '<div class="mb-2 row"><label for="fname" class="col-sm-4 text-start control-label col-form-label"> ชื่อเอกสาร :</label><div class="col-sm-8"><input type="text" name="doc_name" value="' + obj[j].doc_name + '" placeholder="กรุณาป้อนชื่อเอกสาร.." class="form-control" required></div></div>'
                            + '<div class="mb-2 row"><label for="lname" class="col-sm-4 text-start control-label col-form-label">ชนิดเอกสาร : </label><div class="col-sm-8"><select id="doc_edit_type" name="doc_type_id" class="form-control" required><option name="" value="">เลือก..</option><% if(doc_type){ %><% for(var i=0;i<doc_type.length;i++){%><option id="option_edit_doc" value="<%= doc_type[i].doc_type_id %>"><%= doc_type[i].doc_type_name %></option> <% } %><% } %></select></div></div>'
                            + '<div class="mb-2 row"><label for="fname" class="col-sm-4 text-start control-label col-form-label"> สถานะเอกสาร :</label><div class="col-sm-8"><select id="edit_status" class="form-control" name="doc_status" > <option  value="0">ร่าง</option><option  value="1">ต้นฉบับ</option><option value="2"> ใช้งาน</option><option value="3"> ยกเลิก</option></select></div></div>'
                            + '<div class="mb-2 row"><label for="fname" class="col-sm-4 text-start control-label col-form-label"> หมายเหตุ :</label><div class="col-sm-8"><textarea style="height:100px" name="doc_remark" cols="30" rows="10"class="form-control" placeholder="หมายเหตุ..">' + obj[j].doc_remark + '</textarea></div></div>'
                            + '<input type="hidden" name="doc_id" value="' + obj[j].doc_id + '" readonly>'
                    }
                    else {
                        editdoc.innerHTML = '<div class="mb-2 row"><label for="fname" class="col-sm-4 text-start control-label col-form-label"> ชื่อเอกสาร :</label><div class="col-sm-8"><input type="text" name="doc_name" value="' + obj[j].doc_name + '" placeholder="กรุณาป้อนชื่อเอกสาร.." class="form-control" required></div></div>'
                            + '<div class="mb-2 row"><label for="lname" class="col-sm-4 text-start control-label col-form-label">ชนิดเอกสาร : </label><div class="col-sm-8"><select id="doc_edit_type" name="doc_type_id" class="form-control" required><option name="" value="">เลือก..</option><% if(doc_type){ %><% for(var i=0;i<doc_type.length;i++){%><option id="option_edit_doc" value="<%= doc_type[i].doc_type_id %>"><%= doc_type[i].doc_type_name %></option> <% } %><% } %></select></div></div>'
                            + ' <div class="mb-2 row"><label for="fname" class="col-sm-4 text-start control-label col-form-label"> สถานะเอกสาร :</label><div class="col-sm-8"><select id="edit_status" class="form-control" name="doc_status" > <option  value="0">ร่าง</option><option  value="1">ต้นฉบับ</option><option value="2"> ใช้งาน</option><option value="3"> ยกเลิก</option></select></div></div>'
                            + '<div class="mb-2 row"><label for="fname" class="col-sm-4 text-start control-label col-form-label"> หมายเหตุ :</label><div class="col-sm-8"><textarea style="height:100px" name="doc_remark" cols="30" rows="10"class="form-control" placeholder="หมายเหตุ..">' + obj[j].doc_remark + '</textarea></div></div>'
                            + '<input type="hidden" name="doc_id" value="' + obj[j].doc_id + '" readonly>'
                    }
                }
            }
            var re = new RegExp("[0-9]");
            var selected = $('select#doc_edit_type')
            for (j in obj) {
                if (id == obj[j].doc_id) {
                    console.log(id, obj[j].doc_id)
                    var option = $('option#option_edit_doc').map(function () {
                        return $(this).val()
                    })
                    for (k in option) {
                        if (option[k] == obj[j].doc_type_id) {
                            selected.find('option[value=' + option[k] + ']').attr('selected', 'selected');
                        }
                    }
                }
            }

            var selected_doc = $('select#edit_status').find('option').map(function () {
                return $(this).val()
            })
            for (a in selected_doc) {
                for (b in obj) {
                    if (obj[b].doc_id == id) {
                        if (obj[b].doc_status == selected_doc[a]) {
                            $('select#edit_status').find('option[value=' + selected_doc[a] + ']').attr('selected', true)
                        }
                    }
                }
            }
        }

        function deldoc(id) {
            const doc_id = document.getElementById("doc_i").value //doc_id
            const doc_name = document.getElementById('doc_n').value //doc_name
            const doc_type_id = document.getElementById('doc_t').value //doc_type_id
            const doc_remark = document.getElementById('doc_r').value //doc_remark


            let sort_doc_id = doc_id.split(',')
            let sort_doc_name = doc_name.split(',')
            let sort_doc_type_id = doc_type_id.split(',')
            let sort_doc_remark = doc_remark.split(',')


            let obj = []
            var deletedoc = document.getElementById("deletedoc");
            for (i in sort_doc_id) {
                obj.push({ "doc_id": sort_doc_id[i], "doc_name": sort_doc_name[i], "doc_type_id": sort_doc_type_id[i], "doc_remark": sort_doc_remark[i] })
            }
            for (j in obj) {
                if (id == obj[j].doc_id) {
                    deletedoc.innerHTML = '<div class="form-group row py-3"><label class="control-label text-end col-md-4 font-weight-medium">ชื่อเอกสาร :</label><div class="col-md-8"><p class="form-control-static" style="display: inline">' + obj[j].doc_name + ' </p></div></div>'
                        + '<input type="hidden" name="doc_id" value="' + obj[j].doc_id + '" readonly>'
                }
            }
        }


    </script>

    <%- include('../_footer') -%>