<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">การนำเข้าข้อมูลด้วย FTP / API
                </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="#">Data Storage</a></li>
                            <li class="breadcrumb-item active" aria-current="page">การนำเข้าข้อมูลด้วย FTP / API</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">นำเข้าข้อมูลด้วย FTP / API
                            <span class="text-secondary"></span>
                        </h4>
                    </div>
                    <div class="card-body ">
                        <div class="col-md-8 mb-2">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#samedata2-modal" data-bs-whatever="@mdo" type="button">
                                <i class="fas fa-upload"></i>สร้างการนำเข้าข้อมูล</button>
                        </div>
                        <table class="tablesaw no-wrap table-striped table-bordered table-hover table " id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                        data-tablesaw-priority="3 " class="border ">ลำดับ</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="persist "
                                        class="border ">ชื่อข้อมูล</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                        class="border ">รายละเอียดข้อมูล</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="2 "
                                        class="border ">วันที่สร้าง</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="1 "
                                        class="border ">วันที่นำเข้า</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                        class="border ">ที่จัดเก็บ</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                        class="border ">วิธีนำเข้า</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                        class="border ">รับฟอร์มเอกสาร</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                        class="border ">ดูข้อมูล</th>
                                    <th scope="col " data-tablesaw-sortable-col data-tablesaw-priority="4 "
                                        class="border ">ลบข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data){ for (var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td class="title align-top ">
                                            <%= (i+1) %>
                                        </td>
                                        <td class="align-top ">
                                            <%=data[i].name%>
                                        </td>
                                        <td class="align-top ">
                                            <%=data[i].descrip%>
                                        </td>
                                        <td class="align-top ">
                                            <%=data[i].create_date%>
                                        </td>
                                        <td class="align-top ">
                                            <%=data[i].import_date%>
                                        </td>
                                        <td class="align-top ">
                                            <%=data[i].path%>
                                        </td>
                                        <% if (data[i].type_import=='ftp'){%>
                                            <td class="align-top ">
                                                <%=data[i].type_import%> (<%=data[i].type_file%>)
                                                <div>
                                                    User: <%=data[i].username%>
                                                </div>
                                                <div>
                                                    Pass: <%=data[i].password%>
                                                </div>
                                            </td>
                                            <%}else{%>
                                                <td class="align-top ">
                                                    <%=data[i].type_import%> (<%=data[i].type_file%>)
                                                  
                                                </td>
                                                <%}%>
                                        <% if (data[i].type_import=='ftp' && data[i].type_file=='pdpa' ){%>
                                            <td class="center" align="center">
                                                <button type="button" onclick="click_form_ex(<%=data[i].ftp_id%>)" class="btn waves-effect waves-light btn-warning">.xlsx </button>
                                                <button type="button" onclick="click_form_csv(<%=data[i].ftp_id%>)" class="btn waves-effect waves-light btn-warning">.csv </button>
                                            </td>
                                            <%}else{%>
                                                <td class="align-top ">
                                                </td>
                                                <%}%>
                                                    <td class="text-center" align="center">
                                                        <a href="/<%=process.env.SUBFOLDER%>views_import/<%=data[i].ftp_id%>" class="text-info"><i class="fas fa-file-alt fa-2x"></i></a>
                                                    </td>
                                                    <td class="text-center" align="center">
                                                        <a data-bs-toggle="modal"
                                                            data-bs-target="#samedata4-modal<%=i%>"
                                                            data-bs-whatever="@mdo" class="text-warning"><i
                                                                class="fas fa-trash-alt fa-2x"
                                                                style="color: red;"></i></a>
                                                        </a>
                                                    </td>
                                    </tr>
                                    <% }} %>
                                        <% if (data){%>
                                            <% if (data.length==0){%>
                                                <tr>
                                                    <td class="title align-top "
                                                        style="text-align: center; color: rgb(228, 20, 20); "
                                                        colspan="6 ">
                                                        ไม่พบข้อมูล
                                                    </td>
                                                </tr>
                                                <%}}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Row -->
        <div class="modal fade" id="samedata2-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;สร้างการนำเข้าข้อมูล
                        </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/<%=process.env.SUBFOLDER%>createftp" method="post">
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="sender">ชื่อข้อมูล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info"
                                        placeholder="ภาษาอังกฤษ ห้ามมี *?/_" name="name" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">รายละเอียดข้อมูล</label>
                                <div class="col-sm-6">
                                    <textarea type="text" row="4" class="form-control border border-info" id="spec"
                                        name="descrip"></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">วันที่สร้าง</label>
                                <div class="col-sm-6">
                                    <input type="datetime-local" placeholder="dd/mm/yyyy" value="<%=date_c[0].date%>" class="form-control border border-info "
                                        name="create_date" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">ประเภทการเก็บข้อมูล</label>
                                <div class="col-sm-6 mt-2">
                                    <div class="col-md-8 col-xl-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_file" value="log" id="checkbox_log" checked="">
                                            <label class="form-check-label" for="success-light-radio">Log</label>
                                            <input name="path" value="./var/log/ftp/" id="path" type="hidden">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_file" value="pdpa" id="checkbox_pdpa">
                                            <label class="form-check-label" for="success2-light-radio">PDPA</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">นำส่งโดย</label>
                                <div class="col-sm-6 mt-2">
                                    <div class="col-md-8 col-xl-9">
                                        <!-- <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_import" id="checkbox_agent" value="agent" checked="">
                                            <label class="form-check-label" for="success-light-radio">Agent</label>
                                        </div> -->
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-light-success" type="radio"
                                                name="type_import" id="checkbox_ftp" value="ftp" checked>
                                            <label class="form-check-label" for="success2-light-radio">FTP</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div id="form_ftp">
                                <div class="mb-1 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">Username</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control border border-info mt-2"
                                            placeholder="Username" name="username">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control border border-info mt-2"
                                            placeholder="Password" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                    for="spec">ที่จัดเก็บ</label>
                                <div class="col-sm-6 mt-2">
                                    <label type="text" for="" name="path" id="path_file"
                                        readonly>/var/log/ftp/</label>
                                </div>
                            </div>
                            <!-- <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">IP Address</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info " name="ip">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">Username</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info ">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control border border-info " value="xxxxxxx">
                                </div>
                            </div> -->
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit"
                                        class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-secondary waves-effect waves-light"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% if (data){ for (var i=0; i < data.length; i++) { %>
            <div class="modal fade" id="samedata3-modal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                            <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;ดูการนำเข้าข้อมูล
                            </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/<%=process.env.SUBFOLDER%>createftp" method="post">
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="sender">ชื่อข้อมูล</label>
                                    <div class="col-sm-6">
                                        <label class="control-label col-form-label ">
                                            <%=data[i].name%>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">รายละเอียดข้อมูล</label>
                                    <div class="col-sm-6">
                                        <label class="control-label col-form-label ">
                                            <%=data[i].descrip%>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">วันที่สร้าง</label>
                                    <div class="col-sm-6">
                                        <label class="control-label col-form-label ">
                                            <%=data[i].create_date%>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                        for="spec">ที่จัดเก็บ</label>
                                    <div class="col-sm-6">
                                        <label class="control-label col-form-label ">
                                            <%=data[i].path%>
                                        </label>
                                    </div>
                                </div>
                                <%if(data[i].type_import=="agent" ){%>
                                    <div class="mb-3 row">
                                        <label for="cono1"
                                            class="col-sm-3 text-end control-label col-form-label text-secondary">นำส่งโดย</label>
                                        <div class="col-sm-3" id="cono1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input success check-outline outline-success"
                                                    type="radio" name="type_import" id="type_import" value='agent'
                                                    checked disabled>
                                                <label class="form-check-label" for="hash">Agent</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="cono1"
                                            class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                        <div class="col-sm-3" id="cono1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input warning check-outline outline-warning"
                                                    type="radio" name="type_import" id="type_import" value='ftp'
                                                    disabled>
                                                <label class="form-check-label" for="hash">FTP Upload</label>
                                            </div>
                                        </div>
                                    </div>
                                    <%}else{%>
                                        <div class="mb-3 row">
                                            <label for="cono1"
                                                class="col-sm-3 text-end control-label col-form-label text-secondary">นำส่งโดย</label>
                                            <div class="col-sm-3" id="cono1">
                                                <div class="form-check form-check-inline">
                                                    <input
                                                        class="form-check-input success check-outline outline-success"
                                                        type="radio" name="type_import" id="type_import" value='agent'
                                                        disabled>
                                                    <label class="form-check-label" for="hash">Agent</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="cono1"
                                                class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                            <div class="col-sm-3" id="cono1">
                                                <div class="form-check form-check-inline">
                                                    <input
                                                        class="form-check-input warning check-outline outline-warning"
                                                        type="radio" name="type_import" id="type_import" value='ftp'
                                                        checked disabled>
                                                    <label class="form-check-label" for="hash">FTP Upload</label>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                            <!-- <div class="mb-3 row">
                                    <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">IP Address</label>
                                    <div class="col-sm-6">
                                        <label class="control-label col-form-label "><%=data[i].name%></label>
                                        <input type="text" class="form-control border border-info " name="ip" value="<%=data[i].name%>">
                                    </div>
                                </div> -->
                                            <div class="mb-3 row">
                                                <label
                                                    class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                    for="spec">Username</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label col-form-label ">
                                                        <%=data[i].username%>
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label
                                                    class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                    for="spec">Password</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label col-form-label ">
                                                        <%=data[i].password%>
                                                    </label>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button"
                                                        class="btn btn-warning btn waves-effect waves-light">แก้ไขข้อมูล</button>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button"
                                                        class="btn btn-secondary waves-effect waves-light"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                                <div class="col-sm-5">
                                                </div>
                                            </div>
                                            <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% }} %>
                <% if (data){ for (var i=0; i < data.length; i++) { %>
                    <div class="modal fade" id="samedata4-modal<%=i%>" tabindex="-1"
                        aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header d-flex align-items-center">
                                    <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;ลบการนำเข้าข้อมูล
                                    </h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/<%=process.env.SUBFOLDER%>createftp" method="post">
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="sender">ชื่อข้อมูล</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].name%>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="spec">รายละเอียดข้อมูล</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].descrip%>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="spec">วันที่สร้าง</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].create_date%>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 text-end control-label col-form-label text-secondary"
                                                for="spec">ที่จัดเก็บ</label>
                                            <div class="col-sm-6">
                                                <label class="control-label col-form-label ">
                                                    <%=data[i].path%>
                                                </label>
                                            </div>
                                        </div>
                                        <%if(data[i].type_import=="agent" ){%>
                                            <div class="mb-3 row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-end control-label col-form-label text-secondary">นำส่งโดย</label>
                                                <div class="col-sm-3" id="cono1">
                                                    <div class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input success check-outline outline-success"
                                                            type="radio" name="type_import" id="type_import"
                                                            value='agent' checked disabled>
                                                        <label class="form-check-label" for="hash">Agent</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                                <div class="col-sm-3" id="cono1">
                                                    <div class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input warning check-outline outline-warning"
                                                            type="radio" name="type_import" id="type_import" value='ftp'
                                                            disabled>
                                                        <label class="form-check-label" for="hash">FTP Upload</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}else{%>
                                                <div class="mb-3 row">
                                                    <label for="cono1"
                                                        class="col-sm-3 text-end control-label col-form-label text-secondary">นำส่งโดย</label>
                                                    <div class="col-sm-3" id="cono1">
                                                        <div class="form-check form-check-inline">
                                                            <input
                                                                class="form-check-input success check-outline outline-success"
                                                                type="radio" name="type_import" id="type_import"
                                                                value='agent' disabled>
                                                            <label class="form-check-label" for="hash">Agent</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="cono1"
                                                        class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                                    <div class="col-sm-3" id="cono1">
                                                        <div class="form-check form-check-inline">
                                                            <input
                                                                class="form-check-input warning check-outline outline-warning"
                                                                type="radio" name="type_import" id="type_import"
                                                                value='ftp' checked disabled>
                                                            <label class="form-check-label" for="hash">FTP
                                                                Upload</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <!-- <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">IP Address</label>
                                        <div class="col-sm-6">
                                            <label class="control-label col-form-label "><%=data[i].name%></label>
                                            <input type="text" class="form-control border border-info " name="ip" value="<%=data[i].name%>">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">Username</label>
                                        <div class="col-sm-6">
                                            <label class="control-label col-form-label "><%=data[i].name%></label>
                                            <input type="text" class="form-control border border-info " value="<%=data[i].name%>">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">Password</label>
                                        <div class="col-sm-6">
                                            <label class="control-label col-form-label "><%=data[i].name%></label>
                                            <input type="password" class="form-control border border-info " value="xxxxxxx">
                                        </div>
                                    </div> -->
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button" data-bs-toggle="modal"
                                                                data-bs-target="#tests<%=i%>" data-bs-whatever="@mdo"
                                                                class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button"
                                                                class="btn btn-secondary waves-effect waves-light"
                                                                data-bs-dismiss="modal">ยกเลิก</button>
                                                        </div>
                                                        <div class="col-sm-5">
                                                        </div>
                                                    </div>
                                                    <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }} %>
                        <% if (data){ for (var i=0; i < data.length; i++) { %>
                            <div class="modal fade" id="tests<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex align-items-center"></div>
                                        <div class="modal-body">
                                            <div class="mb-3 row">
                                                <h4 class="text-center">OTP by Google Authenticator

                                                </h4><br>
                                                <hr><br>
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control border border-info"
                                                        placeholder="รหัสจาก Google Authenticator" id="authen">
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" onclick="check2('<%=data[i].ftp_id %>')"
                                                        class="btn btn-success btn waves-effect waves-light">ยืนยัน</button>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button"
                                                        class="btn btn-secondary waves-effect waves-light"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                                <div class="col-sm-5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <% }} %>
        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script>
                $(".mossparkline").sparkline([2, 4, 4, 6, 8, 5, 6, 4, 8, 6, 6, 2], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#39c449',
                    fillColor: '#39c449',
                    maxSpotColor: '#39c449',
                    highlightLineColor: 'rgba(0, 0, 0, 0.2)',
                    highlightSpotColor: '#39c449'
                });
            </script>
            <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js "></script>
            <script src="/UI/dist/js/pages/datatable/custom-datatable.js "></script>
            <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js "></script>
            <!-- <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
                                    <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script> -->
            <script src="/UI/assets/libs/flot/jquery.flot.js "></script>
            <script src="/UI/dist/js/pages/widget/widget-charts.js "></script>
            <script src="/UI/assets/libs/raphael/raphael.min.js"></script>
            <script src="/UI/assets/libs/morris.js/morris.min.js"></script>
            <script src="/UI/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="/UI/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>
            <script>
                var userid = <% -JSON.stringify(session.userid) %>;
                function check(id) {
                    Sub = document.getElementById('SubDomain').value;
                    var result = []
                    // console.log(id);
                    result.value = document.getElementById("authen").value;
                    if (result.value) {
                        var request2 = function () {
                            result["userid"] = userid;
                            // console.log(result);
                            $.ajax({
                                url: `/${Sub}ajaxcheckuser` ,
                                type: "post",
                                data: {
                                    value: result.value,
                                    userid: userid
                                },
                                success: function (data) {
                                    var result = data.data;
                                    if (result.length == 0) {
                                        alert("ใส่รหัสผ่านผิด")
                                        setInterval('location.reload()', 200);
                                    } else {
                                        $.ajax({
                                            url: `/${Sub}device/confirmdelete/` + id,
                                            type: "post",
                                            // success: function(data2) {
                                            //     console.log(data2);
                                            //     // if (data2) {
                                            //     alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                            //     setInterval('location.reload()', 200);
                                            //     // } else {
                                            //     //     alert("ข้อมูลผิดพลาด")
                                            //     //     setInterval('location.reload()', 200);
                                            //     // }
                                            // }
                                        });
                                        alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                        setInterval('location.reload()', 200);
                                    }
                                }
                            });
                        }
                        request2();
                    }
                };
            </script>
            <script>
                var line = new Morris.Line({
                    element: 'morris-line-chart33',
                    resize: true,
                    data: [{
                        y: '2011 Q1',
                        item1: 2666
                    }, {
                        y: '2011 Q2',
                        item1: 2778
                    }, {
                        y: '2011 Q3',
                        item1: 4912
                    }, {
                        y: '2011 Q4',
                        item1: 3767
                    }, {
                        y: '2012 Q1',
                        item1: 6810
                    }, {
                        y: '2012 Q2',
                        item1: 5670
                    }, {
                        y: '2012 Q3',
                        item1: 4820
                    }, {
                        y: '2012 Q4',
                        item1: 15073
                    }, {
                        y: '2013 Q1',
                        item1: 10687
                    }, {
                        y: '2013 Q2',
                        item1: 8432
                    }],
                    xkey: 'y',
                    ykeys: ['item1'],
                    labels: ['Item 1'],
                    gridLineColor: '#eef0f2',
                    lineColors: ['#009efb'],
                    lineWidth: 1,
                    hideHover: 'auto'
                });
            </script>
            <script>
                var userid = <% -JSON.stringify(session.userid) %>;
                function check2(id) {
                    var result = []
                    result.value = document.getElementById("authen").value;
                    if (result.value) {
                        var request2 = function () {
                            result["userid"] = userid;
                            // console.log(result);
                            $.ajax({
                                url: `/${Sub}ajaxcheckuser` ,
                                type: "post",
                                data: {
                                    value: result.value,
                                    userid: userid
                                },
                                success: function (data) {
                                    var result = data.data;
                                    if (result.length == 0) {
                                        alert("ใส่รหัสผ่านผิด")
                                        setInterval('location.reload()', 200);
                                    } else {
                                        $.ajax({
                                            url: `/${Sub}deleteftp/` + id,
                                            type: "post",
                                            // success: function(data2) {
                                            //     console.log(data2);
                                            //     // if (data2) {
                                            //     alert("ลบอุปกรณ์ต้นทางเรียบร้อย");
                                            //     setInterval('location.reload()', 200);
                                            //     // } else {
                                            //     //     alert("ข้อมูลผิดพลาด")
                                            //     //     setInterval('location.reload()', 200);
                                            //     // }
                                            // }
                                        });
                                        alert("ลบนำเข้าข้อมูลต่างๆด้วยFTPเรียบร้อย");
                                        setInterval('location.reload()', 200);
                                    }
                                }
                            });
                        }
                        request2();
                    }
                };
            </script>
            <script>
                $(function () {
                    "use strict";
                    var basicpieChart = echarts.init(document.getElementById('basic-pie3'));
                    var option = {
                        // Add title
                        title: {
                            text: 'จำนวนไฟล์ทั้งหมด',
                            subtext: 'สัดส่วนของไฟล์จากแต่ละอุปกรณ์',
                            x: 'center'
                        },
                        // Add tooltip
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                        },
                        // Add legend
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            data: ['IE', 'Opera', 'Safari', 'Firefox', 'Chrome']
                        },
                        // Add custom colors
                        color: ['#ffbc34', '#7460ee', '#212529', '#f62d51', '#009efb'],
                        // Display toolbox
                        // toolbox: {
                        //     show: true,
                        //     orient: 'vertical',
                        //     feature: {
                        //         mark: {
                        //             show: true,
                        //             title: {
                        //                 mark: 'Markline switch',
                        //                 markUndo: 'Undo markline',
                        //                 markClear: 'Clear markline'
                        //             }
                        //         },
                        //         dataView: {
                        //             show: true,
                        //             readOnly: false,
                        //             title: 'View data',
                        //             lang: ['View chart data', 'Close', 'Update']
                        //         },
                        //         magicType: {
                        //             show: true,
                        //             title: {
                        //                 pie: 'Switch to pies',
                        //                 funnel: 'Switch to funnel',
                        //             },
                        //             type: ['pie', 'funnel'],
                        //             option: {
                        //                 funnel: {
                        //                     x: '25%',
                        //                     y: '20%',
                        //                     width: '50%',
                        //                     height: '70%',
                        //                     funnelAlign: 'left',
                        //                     max: 1548
                        //                 }
                        //             }
                        //         },
                        //         // restore: {
                        //         //     show: true,
                        //         //     title: 'Restore'
                        //         // },
                        //         // saveAsImage: {
                        //         //     show: true,
                        //         //     title: 'Same as image',
                        //         //     lang: ['Save']
                        //         // }
                        //     }
                        // },
                        // Enable drag recalculate
                        calculable: true,
                        // Add series
                        series: [{
                            name: 'Browsers',
                            type: 'pie',
                            radius: '70%',
                            center: ['50%', '57.5%'],
                            data: [{
                                value: 335,
                                name: 'IE'
                            }, {
                                value: 310,
                                name: 'Opera'
                            }, {
                                value: 234,
                                name: 'Safari'
                            }, {
                                value: 135,
                                name: 'Firefox'
                            }, {
                                value: 1548,
                                name: 'Chrome'
                            }]
                        }]
                    };
                    basicpieChart.setOption(option);
                });
            </script>
            <script>
                // Check
                var check_1 = 0;
                var check_2 = 0;
                function check_data_1() {
                    // console.log(check_1,':',check_2);
                    if (check_1 == 0 && check_2 == 0) {
                        $('#path_file').text('/var/log/ftp/');
                        $('#path').val('/var/log/ftp/');
                    } else if (check_1 == 0 && check_2 == 1) {
                        $('#path_file').text('/var/log/ftp/');
                        $('#path').val('/var/log/ftp/');
                    } else if (check_1 == 1 && check_2 == 0) {
                        $('#path_file').text('/var/pdpa/ftp/');
                        $('#path').val('/var/pdpa/ftp/');
                    } else if (check_1 == 1 && check_2 == 1) {
                        $('#path_file').text('/var/pdpa/ftp/');
                        $('#path').val('/var/pdpa/ftp/');
                    }
                }

                $("#form_ftp").fadeIn();
                // $('#checkbox_agent').on("click", function () {
                //     $("#form_ftp").hide();
                //     $("#form_agent").fadeIn();
                //     check_2 = 0;
                //     check_data_1()
                // });

                // $('#checkbox_ftp').on("click", function () {
                //     $("#form_agent").hide();
                //     $("#form_ftp").fadeIn();
                //     check_2 = 1;
                //     check_data_1()
                // });

                $('#checkbox_log').on("click", function () {
                    check_1 = 0;
                    check_data_1()
                });

                $('#checkbox_pdpa').on("click", function () {
                    check_1 = 1;
                    check_data_1()
                });
            </script>
            <script>
    function nowAsDuration(){
    return moment.duration({
        hours:   moment().hour(),
        minutes: moment().minute(),
        seconds: moment().second()
    });
}
$("input").on("change", function() {
    var a = moment(this.value);
    var b = nowAsDuration();
    var c = a.add(b);
    this.setAttribute("my-date", c.format( this.getAttribute("my-date-format") )
    )
}).trigger("change")
            </script>

            <script>
                function click_form_ex(id){
                console.log(id);
                $.get('/form_EX/' + id, function(data) {
                console.log(data);
                id_form = data;
                    $.ajax({
                        url: `/UI/assets/form_excel/FormExcel_${id_form}.xlsx`,
                        method: 'GET',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function (data) {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = `FormExcel_${id_form}.xlsx`;
                            document.body.append(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        }
                    });
                });
                };

                function click_form_csv(id){
                console.log(id);
                $.get('/form_CSV/' + id, function(data) {
                console.log(data);
                id_form = data;
                    $.ajax({
                        url: `/UI/assets/form_excel/FormCSV_${id_form}.csv`,
                        method: 'GET',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function (data) {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = `FormCSV_${id_form}.csv`;
                            document.body.append(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        }
                    });
                });
                };
            </script>