<%- include('../_header') -%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/style.css" />

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">แก้ไขข้อมูลผู้ใช้งาน</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">การจัดการผู้ใช้</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>account/list">ข้อมูลผู้ใช้</a></li>
                            <li class="breadcrumb-item active" aria-current="page">แก้ไขข้อมูลผู้ใช้งาน
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body border-bottom">
                        <h4 class="card-title">แก้ไขข้อมูลผู้ใช้งาน</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <div class="row">
                            <form action="/<%=process.env.SUBFOLDER%>account/save/<%=data[0].acc_id%>" id="post" enctype="multipart/form-data" method="post">
                              <div class="p-lg-5">
                                <div class="" style="margin-bottom:1px;">
                                  <h3 style="text-align: center;">รูปภาพ</h3>
                                </div>
                                <div class="avatar-upload" style="margin-top: 10px;">
                                  <div class="avatar-edit">
                                    <input type='file' id="imageUpload" onchange="readURL(this)" accept='image/jpeg, image/png'
                                      name="img" />
                                    <label for="imageUpload"><i class="me-2 mdi mdi-account-edit icon_v1"></i></label>
                                    <input type="hidden" name="image" value="<%=data[0].image%>" />
                                  </div>
                                  <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url(/UI/image/<%=data[0].image%>);">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row g-3">
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].firstname%>" id="validationDefault01" name="firstname"
                                      placeholder=" " required>
                                    <label for="firstname">ชื่อ</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].lastname%>" id="lastname" name="lastname" placeholder=" "
                                      required>
                                    <label for="lastname">นามสกุล</label>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].name%>" id="name" name="name" placeholder=" " required>
                                    <label for="name">ชื่อในระบบ</label>
                                  </div>
                                </div>
            
            
                                <div class="col-md-12">
                                  <div class="form-floating">
                                    <input type="email" class="form-control" value="<%=data[0].email%>" id="email" placeholder=" " name="email" required>
                                    <label for="email">อีเมล</label>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].position%>" id="position" placeholder=" " name="position"
                                      required>
                                    <label for="position">ตำแหน่ง</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].lastname%>" id="phone" placeholder=" " name="phone">
                                    <label for="phone">เบอร์โทรศัพท์มือถือ</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].phone%>" id="contact" placeholder=" " name="contact">
                                     
                                    <label for="contact">เบอร์โทรศัพท์</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input class="form-control" id="ext" value="<%=data[0].ext%>" name="ext" placeholder=" ">
                                    <label for="site_phone">ต่อ</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input class="form-control" id="line" value="<%=data[0].line%>" name="line" placeholder=" ">
                                    <label for="line">ไลน์</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="date" class="form-control border border-info" value="<%=data[0].bd%>" id="bd" name="bd" required />
                                    <label for="bd">วันเดือนปีเกิด</label>
                                  </div>
                                </div>
            
                                <div class="col-md-12">
                                  <div class="form-floating">
                                    <textarea class="form-control" value="<%=data[0].descrip%>" placeholder="Leave a message here" id="descrip"
                                      name="descrip" style="height: 100px"></textarea>
                                    <label for="descrip">รายละเอียด</label>
                                  </div>
                                </div>
                                <hr>
                                <div class="col-md-11">
                                  <div class="form-floating">
                                    <input type="text" class="form-control" value="<%=data[0].username%>" name="username" id="username"
                                      placeholder="Your Name" required>
                                    <label for="username">ชื่อผู้ใช้</label>
                                  </div>
                                </div>
                                <div class="col-md-1" style="margin-top: 28px;">
                                  <i title="Username ทีใช้ในการเข้าสู่ระบบ" style="font-size: 20px;"
                                    class="me-2 mdi mdi-alert-circle"></i>
                                </div>
                                <div class="col-md-11">
                                  <div class="form-floating">
                                    <input type="password" class="form-control" name="password" id="password" value="<%=data[0].password%>"
                                      placeholder="Your Name" required>
                                    <label for="username">รหัสผ่าน</label>
                                  </div>
                                </div>
                                <div class="col-md-1" style="margin-top: 25px;">
                                  <i class="bi bi-eye-slash" id="togglePassword" style="font-size: 20px;"></i>
                                </div>
            
                                <div class="col-md-11">
                                  <div class="form-floating">
                                    <input type="password" class="form-control" id="confirmpassword" placeholder="Your Name" value="<%=data[0].password%>">
                                    <label for="username">ยืนยันรหัสผ่าน</label>
                                  </div>
                                </div>
                                <div class="col-md-1" style="margin-top: 25px;">
                                  <i class="bi bi-eye-slash" id="togglePassword2" style="font-size: 20px;"></i>
                                </div>
                                <hr>
                                <%if(session.admin == 1){%>
                                <div class="col-md-12">
                                  <label for="admin">ประเภทของผู้ใช้งาน</label>
            
                                    <%if((data4[0].num_admin-data1.length)>0 && (data4[0].num_user-data2.length)>0){%>
                                        <select class="form-control" name="admin" style="background-color: white;
                                        height: 60px;"  >
                                            <%if(data[0].admin=='1' ){%>
                                                <option value="1">ผู้ดูแลระบบ</option>
                                                <%}else if(data[0].admin=='0' ){%>
                                                    <option value="0">ผู้ดูแลข้อมูล</option>
                                                    <%}else if(data[0].admin=='2' ){%>
                                                        <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                        <%}else if(data[0].admin=='3' ){%>
                                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                            <%}else if(data[0].admin=='4' ){%>
                                                                <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                <%}else if(data[0].admin=='5' ){%>
                                                                    <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                    <%}%>
                                                                    <option value="1">ผู้ดูแลระบบ</option>
                                                                    <option value="0">ผู้ดูแลข้อมูล</option>
                                                                    <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                                    <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                    <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                    <option value="2">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>

                                        </select>
                                        <%}else if ((data4[0].num_admin-data1.length)>0 &&
                                            (data4[0].num_user-data2.length) <=0){%>
                                                <select class=" form-control " name="admin" style="background-color: white;
                                                height: 60px;" >
                                                    <%if(data[0].admin=='1' ){%>
                                                        <option value="1">ผู้ดูแลระบบ</option>
                                                        <%}else if(data[0].admin=='0' ){%>
                                                            <option value="0">ผู้ดูแลข้อมูล</option>
                                                            <%}else if(data[0].admin=='2' ){%>
                                                                <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                <%}else if(data[0].admin=='3' ){%>
                                                                    <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                                    <%}else if(data[0].admin=='4' ){%>
                                                                        <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                        <%}else if(data[0].admin=='5' ){%>
                                                                            <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                            <%}%>
                                                                            <option value="1">ผู้ดูแลระบบ</option>
                                                                            <!-- <option value="0">ผู้ดูแลข้อมูล</option> -->
                                                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                            </option>
                                                                            <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                            <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                            <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>

                                                </select>
                                                <%}else if ((data4[0].num_admin-data1.length)<=0 &&
                                                    (data4[0].num_user-data2.length)>0){%>
                                                    <select class=" form-control " name="admin" style="background-color: white;
                                                    height: 60px;" >
                                                        <%if(data[0].admin=='1' ){%>
                                                            <option value="1">ผู้ดูแลระบบ</option>
                                                            <%}else if(data[0].admin=='0' ){%>
                                                                <option value="0">ผู้ดูแลข้อมูล</option>
                                                                <%}else if(data[0].admin=='2' ){%>
                                                                    <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                    <%}else if(data[0].admin=='3' ){%>
                                                                        <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                        </option>
                                                                        <%}else if(data[0].admin=='4' ){%>
                                                                            <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                            <%}else if(data[0].admin=='5' ){%>
                                                                                <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                                <%}%>
                                                                                <!-- <option value="1">ผู้ดูแลระบบ</option> -->
                                                                                <option value="0">ผู้ดูแลข้อมูล</option>
                                                                                <option value="3">
                                                                                  เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                                                <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)
                                                                                </option>
                                                                                <option value="2">ผู้ใช้งานทั่วไป (User Access)
                                                                                </option>
                                                                                <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>

                                                    </select>
                                                    <%}else{%>
                                                        <select class=" form-control" name="admin" style="background-color: white;
                                                        height: 60px;" >
                                                            <%if(data[0].admin=='1' ){%>
                                                                <option value="1">ผู้ดูแลระบบ</option>
                                                                <%}else if(data[0].admin=='0' ){%>
                                                                    <option value="0">ผู้ดูแลข้อมูล</option>
                                                                    <%}else if(data[0].admin=='2' ){%>
                                                                        <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                        <%}else if(data[0].admin=='3' ){%>
                                                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                            </option>
                                                                            <%}else if(data[0].admin=='4' ){%>
                                                                                <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)
                                                                                </option>
                                                                                <%}else if(data[0].admin=='5' ){%>
                                                                                    <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                                    <%}%>
                                                                                    <option value="3">
                                                                                      เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                                    </option>
                                                                                    <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)
                                                                                    </option>
                                                                                    <option value="2">ผู้ใช้งานทั่วไป (User Access)
                                                                                    </option>
                                                                                    <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                        </select>
                                                        <%}%>
                                </div>
                                <%}else{%>
                                  <div class="col-md-12">
                                    <label for="admin">ประเภทของผู้ใช้งาน</label>
              
                                      <%if((data4[0].num_admin-data1.length)>0 && (data4[0].num_user-data2.length)>0){%>
                                          <select class="form-control" name="admin" style="background-color: white;
                                          height: 60px;" disabled >
                                              <%if(data[0].admin=='1' ){%>
                                                  <option value="1">ผู้ดูแลระบบ</option>
                                                  <%}else if(data[0].admin=='0' ){%>
                                                      <option value="0">ผู้ดูแลข้อมูล</option>
                                                      <%}else if(data[0].admin=='2' ){%>
                                                          <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                          <%}else if(data[0].admin=='3' ){%>
                                                              <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                              <%}else if(data[0].admin=='4' ){%>
                                                                  <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                  <%}else if(data[0].admin=='5' ){%>
                                                                      <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                      <%}%>
                                                                      <option value="1">ผู้ดูแลระบบ</option>
                                                                      <option value="0">ผู้ดูแลข้อมูล</option>
                                                                      <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                                      <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                      <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                      <option value="2">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
  
                                          </select>
                                          <%}else if ((data4[0].num_admin-data1.length)>0 &&
                                              (data4[0].num_user-data2.length) <=0){%>
                                                  <select class=" form-control " name="admin" style="background-color: white;
                                                  height: 60px;" disabled>
                                                      <%if(data[0].admin=='1' ){%>
                                                          <option value="1">ผู้ดูแลระบบ</option>
                                                          <%}else if(data[0].admin=='0' ){%>
                                                              <option value="0">ผู้ดูแลข้อมูล</option>
                                                              <%}else if(data[0].admin=='2' ){%>
                                                                  <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                  <%}else if(data[0].admin=='3' ){%>
                                                                      <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                                      <%}else if(data[0].admin=='4' ){%>
                                                                          <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                          <%}else if(data[0].admin=='5' ){%>
                                                                              <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                              <%}%>
                                                                              <option value="1">ผู้ดูแลระบบ</option>
                                                                              <!-- <option value="0">ผู้ดูแลข้อมูล</option> -->
                                                                              <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                              </option>
                                                                              <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                              <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                              <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
  
                                                  </select>
                                                  <%}else if ((data4[0].num_admin-data1.length)<=0 &&
                                                      (data4[0].num_user-data2.length)>0){%>
                                                      <select class=" form-control " name="admin" style="background-color: white;
                                                      height: 60px;" disabled>
                                                          <%if(data[0].admin=='1' ){%>
                                                              <option value="1">ผู้ดูแลระบบ</option>
                                                              <%}else if(data[0].admin=='0' ){%>
                                                                  <option value="0">ผู้ดูแลข้อมูล</option>
                                                                  <%}else if(data[0].admin=='2' ){%>
                                                                      <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                      <%}else if(data[0].admin=='3' ){%>
                                                                          <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                          </option>
                                                                          <%}else if(data[0].admin=='4' ){%>
                                                                              <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)</option>
                                                                              <%}else if(data[0].admin=='5' ){%>
                                                                                  <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                                  <%}%>
                                                                                  <!-- <option value="1">ผู้ดูแลระบบ</option> -->
                                                                                  <option value="0">ผู้ดูแลข้อมูล</option>
                                                                                  <option value="3">
                                                                                    เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)</option>
                                                                                  <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)
                                                                                  </option>
                                                                                  <option value="2">ผู้ใช้งานทั่วไป (User Access)
                                                                                  </option>
                                                                                  <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
  
                                                      </select>
                                                      <%}else{%>
                                                          <select class=" form-control" name="admin" style="background-color: white;
                                                          height: 60px;" disabled>
                                                              <%if(data[0].admin=='1' ){%>
                                                                  <option value="1">ผู้ดูแลระบบ</option>
                                                                  <%}else if(data[0].admin=='0' ){%>
                                                                      <option value="0">ผู้ดูแลข้อมูล</option>
                                                                      <%}else if(data[0].admin=='2' ){%>
                                                                          <option value="2">ผู้ใช้งานทั่วไป (User Access)</option>
                                                                          <%}else if(data[0].admin=='3' ){%>
                                                                              <option value="3">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                              </option>
                                                                              <%}else if(data[0].admin=='4' ){%>
                                                                                  <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)
                                                                                  </option>
                                                                                  <%}else if(data[0].admin=='5' ){%>
                                                                                      <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                                                      <%}%>
                                                                                      <option value="3">
                                                                                        เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO)
                                                                                      </option>
                                                                                      <option value="4">ผู้ประมวลผลข้อมูลส่วนบุคคล (Data Processor)
                                                                                      </option>
                                                                                      <option value="2">ผู้ใช้งานทั่วไป (User Access)
                                                                                      </option>
                                                                                      <option value="5">ผู้ควบคุมข้อมูลส่วนบุคคล (Data Controller)</option>
                                                          </select>
                                                          <%}%>
                                  </div>
                                  <%}%>
                                <hr>
                                <!-- <div class="row">
                                <div class="col-md-12">
                                    <label class="col-sm-12 control-label col-form-label ">การยืนยันตัวตน 2 ขั้นตอน</label>
                                      <div class="form-check col-sm-12" >
                                        <%if(data[0].otp_email=='1' ){%>
                                        <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" checked>
                                        <%}else{%>
                                        <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" >
                                        <%}%>
                                        <label class="form-check-label" for="otp_email">OTP By E-mail</label>
                                      </div>
                                      <div class="form-check col-sm-12" >
                                        <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" disabled />
                                        <label class="form-check-label" for="otp_sms">OTP By SMS</label>
                                      </div>
                                      <div class="form-check col-sm-9" style="display: inline-block;">
                                        <%if(data[0].otp_2fa=='1' ){%>
                                        <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" checked/>
                                        <%}else{%>
                                        <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" />
                                        <%}%>
                                        <label class="form-check-label" for="otp_2fa">OTP By Google Authenticator</label>
                                      </div>
                                      <label for=""><i style="font-size: 20px;" onclick="google()" class="me-2 mdi mdi-alert-circle"></i></label>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <label class="col-sm-12 control-label col-form-label ">การยืนยันตัวตน 2 ขั้นตอน</label>
                                    <div class="col-md-12">
                                    </div>
                                    <div class="form-check col-md-12" >
                                        <%if(data[0].otp_login=='1' ){%>
                                        <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" checked />
                                        <%}else{%>
                                            <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login"/>
                                            <%}%>
                                        <label class="form-check-label" for="otp_login">Only Login</label>
                                    </div>
                                    <div class="form-check col-md-12" >
                                      <%if(data[0].otp_system=='1' ){%>
                                      <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system"checked >
                                        <%}else{%>
                                          <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system">
                                        <%}%>
                                      <label class="form-check-label" for="otp_system">Setting System</label>
                                    </div>
                                    <br>
                                </div>
                                <br>
                                <hr>
                            </div> -->
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                            <div class="text-center">
                              <button type="submit" class="btn btn-success waves-effect waves-light">บันทึกข้อมูล</button>
                              <!-- <a href="/<%=process.env.SUBFOLDER%>account/list">
                                <button type="button" class="btn btn-secondary waves-effect waves-light">กลับ</button>
                              </a> -->
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-3"></div>
                      </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
    <%- include('../_footer') -%>
        <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
        <script>
            $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
            var radioswitch = function () {
                var bt = function () {
                    $(".radio-switch").on("switch-change", function () {
                        $(".radio-switch").bootstrapSwitch("toggleRadioState")
                    }), $(".radio-switch").on("switch-change", function () {
                        $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                    }), $(".radio-switch").on("switch-change", function () {
                        $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                    })
                };
                return {
                    init: function () {
                        bt()
                    }
                }
            }();
            $(document).ready(function () {
                radioswitch.init()
            });
        </script>
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
        <script>
            const togglePassword = document.querySelector("#togglePassword");
            const password = document.querySelector("#password");
            const togglePassword2 = document.querySelector("#togglePassword2");
            const password2 = document.querySelector("#confirmpassword");
            togglePassword.addEventListener("click", function () {
                // toggle the type attribute
                const type = password.getAttribute("type") === "password" ? "text" : "password";
                password.setAttribute("type", type);
                // toggle the icon
                this.classList.toggle("bi-eye");
            });
            togglePassword2.addEventListener("click", function () {
                // toggle the type attribute
                const type = password2.getAttribute("type") === "password" ? "text" : "password";
                password2.setAttribute("type", type);
                // toggle the icon
                this.classList.toggle("bi-eye");
            });
    // prevent form submit
        </script>