<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">ข้อมูลการติดตั้ง</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">การจัดการระบบ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ข้อมูลการติดตั้ง</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">แบบสอบถาม</h4>
                    </div>
                    <div class="card-body wizard-content">
                        <h6 class="card-subtitle mb-3"></h6>
                        <form class="needs-validation" novalidate action="/<%=process.env.SUBFOLDER%>ans" enctype="multipart/form-data"
                            method="post">
                            <div class="card-body">

                                <div class="mb-3 row">
                                    <label for="firstname"
                                        class="col-sm-5 text-end  control-label col-form-label text-secondary">ชื่อหน่วยงาน
                                        องค์กร บริษัท</label>
                                    <div class="col-sm-6">
                                        <label for="firstname"
                                            class="col-sm-3 control-label col-form-label text-secondary">
                                            <%=data[0].Name1%>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="lastname"
                                        class="col-sm-5 text-end  control-label col-form-label text-secondary">ผู้ควบคุมข้อมูล</label>
                                    <div class="col-sm-6">
                                        <label for="firstname"
                                            class="col-sm-3 control-label col-form-label text-secondary">
                                            <%=data[0].firstName1%>
                                                <%=data[0].lastName1%>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="position"
                                        class="col-sm-5 text-end  control-label col-form-label text-secondary"
                                        for="sender">E-mail</label>
                                    <div class="col-sm-6">
                                        <label for="firstname"
                                            class="col-sm-3 control-label col-form-label text-secondary">
                                            <%=data[0].emailAddress1%>
                                        </label>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="email"
                                            class="col-sm-5 text-end  control-label col-form-label text-secondary">เบอร์โทรศัพท์มือถือ</label>
                                        <div class="col-sm-6">
                                            <label for="firstname"
                                                class="col-sm-3 control-label col-form-label text-secondary">
                                                <%=data[0].phone1%>
                                            </label>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="phone"
                                                class="col-sm-5 text-end  control-label col-form-label text-secondary">รายละเอียด</label>
                                            <div class="col-sm-6">
                                                <label for="firstname"
                                                    class="col-sm-3 control-label col-form-label text-secondary">
                                                    <%=data[0].shortDescription1%>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="card-body">
                                        <div class="mb-3 row">
                                            <label for="phone"
                                                class="col-sm-5 text-end  control-label col-form-label text-secondary">ประเภทผู้ให้บริการ</label>
                                            <div class="col-md-6">
                                                <!-- <label for="intType1">ประเภทผู้ให้บริการ :</label> -->
                                                <div class="col-md-12">

                                                    <%if(data[0].service=='511' ){%>
                                                        <input name="service" class="material-inputs " type="radio"
                                                            id="radio_1" value="511" checked disabled />
                                                        <%} else {%><input name="service" class="material-inputs "
                                                                type="radio" id="radio_1" value="511" disabled />
                                                            <%}%>
                                                                <label for="radio_1">๕(๑) ก
                                                                    ผู้ประกอบกิจการโทรคมนาคมและการกระจายภาพและเสียง</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <%if(data[0].service=='512' ){%>
                                                        <input name="service" class="material-inputs" type="radio"
                                                            id="radio_2" value="512" checked disabled />
                                                        <%} else {%>
                                                            <input name="service" class="material-inputs" type="radio"
                                                                id="radio_2" value="512" disabled />
                                                            <%}%>
                                                                <label for="radio_2">๕(๑) ข
                                                                    ผู้ให้บริการการเข้าถึงระบบเครือข่ายคอมพิวเตอร์
                                                                </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <%if(data[0].service=='513' ){%>
                                                        <input name="service" type="radio" class="material-inputs"
                                                            id="radio_3" value="513" checked disabled />
                                                        <%} else {%>
                                                            <input name="service" type="radio" class="material-inputs"
                                                                id="radio_3" value="513" disabled />
                                                            <%}%>

                                                                <label for="radio_3">๕(๑) ค
                                                                    ผู้ให้บริการเช่าระบบคอมพิวเตอร์
                                                                    หรือให้เช่าบริการโปรแกรมประยุกต์ต่าง ๆ</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <%if(data[0].service=='514' ){%>
                                                        <input name="service" type="radio" id="radio_4"
                                                            class="material-inputs" value="514" checked disabled />
                                                        <%} else {%>
                                                            <input name="service" type="radio" id="radio_4"
                                                                class="material-inputs" value="514" disabled />
                                                            <%}%>

                                                                <label for="radio_4">๕(๑) ง
                                                                    ผู้ให้บริการร้านอินเทอร์เน็ต</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <%if(data[0].service=='52' ){%>
                                                        <input name="service" class="material-inputs" type="radio"
                                                            id="radio_5" value="52" checked disabled />
                                                        <%} else {%>
                                                            <input name="service" class="material-inputs" type="radio"
                                                                id="radio_5" value="52" disabled />
                                                            <%}%>

                                                                <label for="radio_5">๕(๒)
                                                                    ผู้ให้บริการเก็บรักษาข้อมูลคอมพิวเตอร์เพื่อประโยชน์แก่บุคคลอื่น
                                                                    เช่น Web Hosting, Application Hosting</label>
                                                </div>
                                                <!-- <div class="col-md-6"><label for="jobTitle1"> </label></div> -->
                                            </div>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="mb-3 row">
                                                <label for="phone"
                                                    class="col-sm-5 text-end  control-label col-form-label text-secondary">ประเภทผู้ให้บริการ</label>
                                                <div class="col-md-6">
                                                    <!-- <label for="intType1">ประเภทผู้ให้บริการ :</label> -->
                                                    <div class="col-md-12">
                                                        <%if(data[0].md_checkbox_21=='1' ){%>
                                                            <input type="checkbox" name="md_checkbox_21"
                                                                id="md_checkbox_21"
                                                                class="material-inputs filled-in chk-col-blue" checked
                                                                disabled />
                                                            <%} else {%>
                                                                <input type="checkbox" name="md_checkbox_21"
                                                                    id="md_checkbox_21"
                                                                    class="material-inputs filled-in chk-col-blue"
                                                                    disabled />
                                                                <%}%><label
                                                                        for="md_checkbox_21">แบบดักจับข้อมูลจากเครือข่าย</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <%if(data[0].md_checkbox_22=='1' ){%>
                                                            <input type="checkbox" name="md_checkbox_22"
                                                                id="md_checkbox_22"
                                                                class="material-inputs filled-in chk-col-blue" checked
                                                                disabled />
                                                            <%} else {%>
                                                                <input type="checkbox" name="md_checkbox_22"
                                                                    id="md_checkbox_22"
                                                                    class="material-inputs filled-in chk-col-blue"
                                                                    disabled />
                                                                <%}%><label for="md_checkbox_22">แบบทำหน้าที่เป็นเกตเวย์
                                                                        (gateway)</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <%if(data[0].md_checkbox_23=='1' ){%>
                                                            <input type="checkbox" name="md_checkbox_23"
                                                                id="md_checkbox_23"
                                                                class="material-inputs filled-in chk-col-blue" checked
                                                                disabled />
                                                            <%} else {%>
                                                                <input type="checkbox" name="md_checkbox_23"
                                                                    id="md_checkbox_23"
                                                                    class="material-inputs filled-in chk-col-blue"
                                                                    disabled />
                                                                <%}%><label
                                                                        for="md_checkbox_23">แบบใช้โปรแกรมติดตั้งที่ตัวเครื่องให้บริการ</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <%if(data[0].md_checkbox_24=='1' ){%>
                                                            <input type="checkbox" name="md_checkbox_24"
                                                                id="md_checkbox_24"
                                                                class="material-inputs filled-in chk-col-blue" checked
                                                                disabled />
                                                            <%} else {%>
                                                                <input type="checkbox" name="md_checkbox_24"
                                                                    id="md_checkbox_24"
                                                                    class="material-inputs filled-in chk-col-blue"
                                                                    disabled />
                                                                <%}%><label
                                                                        for="md_checkbox_24">แบบรองรับการส่งข้อมูลการเกณฑ์วิธีการสื่อสาร
                                                                        syslog</label>
                                                    </div>

                                                    <!-- <div class="col-md-6"><label for="jobTitle1"> </label></div> -->
                                                </div>
                                            </div>
                                            <hr>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="card-body">

                                            <div class="mb-3 row">
                                                <label for="firstname"
                                                    class="col-sm-5 text-end  control-label col-form-label text-secondary">ประเมินพื้นที่ที่ต้องจัดเก็บ</label>
                                                <div class="col-sm-6">
                                                    <label for="firstname"
                                                        class="col-sm-3 control-label col-form-label text-secondary">
                                                        <%=data[0].store%>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="mb-3 row">
                                                <label for="lastname"
                                                    class="col-sm-5 text-end  control-label col-form-label text-secondary">รายการอุปกรณ์ที่จัดเก็บข้อมูลจราจรทางคอมพิวเตอร์</label>
                                                <div class="col-sm-6">
                                                    <label for="firstname"
                                                        class="col-sm-3 control-label col-form-label text-secondary">
                                                        <%=data[0].shortDescription2%>
                                                    </label>
                                                </div>

                                            </div>
                                            <br>
                                            <hr>
                                            <!-- <div class="row">
                                                <div class="col-sm-5 text-end ">
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="/<%=process.env.SUBFOLDER%>questionnaire"> <button type="button" class="btn btn-warning waves-effect btn-lg waves-light">แก้ไข</button>
                                                    </a>
                                                    <a href="/<%=process.env.SUBFOLDER%>index2"> <button type="button" class="btn btn-secondary btn-lg waves-effect waves-light">กลับ</button></a>

                                                </div>
                                                <div class="col-sm-1">
                                                </div>
                                                <div class="col-sm-5 text-end ">
                                                </div>
                                            </div> -->

                                            <div class="row">
                                                <div class="col-sm-5">
                                                </div>
                                                <div class="col-sm-1">
                                                    <a href="/<%=process.env.SUBFOLDER%>questionnaire">
                                                        <button type="button"
                                                            class="btn btn-success waves-effect waves-light">ยืนยัน</button>
                                                    </a>
                                                </div>
                                                <div class="col-sm-1">
                                                    <a href="/<%=process.env.SUBFOLDER%>index2">
                                                        <button type="button"
                                                            class="btn btn-secondary waves-effect waves-light"
                                                            data-bs-dismiss="modal">ยกเลิก</button>
                                                    </a>
                                                </div>
                                                <div class="col-sm-4">
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
    <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <%- include('../_footer') -%>
        