<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">กิจกรรมประมวลผล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index">หน้าแรก</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">การป้องกันข้อมูลสู่ภายนอก (Export)
                            </li> -->
                            <li class="breadcrumb-item active" aria-current="page">กิจกรรมประมวลผล</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="ev_index">
        <!-- row -->
        <div class="row">
            <!-- column -->
            <!-- column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">รูปแบบประเภทข้อมูล</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <%= event.length %>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-success" id="bar1">100%</span>
                            <div class="progress">
                                <div id='progress-bar1' class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- column -->
            <!-- column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ gb</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0"><span id="diskspace">
                                        <%= checkdiskspace.size %>
                                    </span></h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-info" id="bar2">
                                <%= 100-(((parseInt(checkdiskspace.free)/parseInt(checkdiskspace.size))*100).toFixed(0))
                                    %>%
                            </span>
                            <div class="progress">
                                <div id='progress-bar2' class="progress-bar bg-info" role="progressbar" aria-valuenow=""
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- column -->
            <!-- column -->
            <!-- <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">การใช้งานรูปแบบประเภท</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <% if(used.length==0){%>0
                                        <%}else{%>
                                            <%= used %>
                                                <%}%>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-purple" id="bar3">0</span>
                            <div class="progress">
                                <div id='progress-bar3' class="progress-bar bg-purple" role="progressbar"
                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- column -->
        </div>
        <!-- row -->
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">รายการกิจกรรมประมวลที่สามารถนำไปใช้งานร่วมกับรูปแบบการประมวลผลข้อมูล
                            <span class="text-secondary"></span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="javascript:void(0);" method="post">
                            <div class="row pb-3">
                                <div class="col-md-8">
                                    <a href="/<%=process.env.SUBFOLDER%>classification/event/new" class="btn btn-success px-4">
                                        <i class="fas fa-plus"></i>
                                        เพิ่มกิจกรรมประมวล</a>
                                </div>
                                <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                    <div class="input-group mb-2">
                                        <a href="/<%=process.env.SUBFOLDER%>classification/event" class="btn btn-outline-warning"><i
                                                data-feather="refresh-cw"></i></a>
                                        <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput" name="search" aria-label="" aria-describedby="button-addon2" value="">
                                        <button type="button" class="btn btn-outline-warning search-key"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="min-height: 470px; margin-left: 1%; margin-right: 1%;">
                            <p class="h4 split-para">กิจกรรมประมวลผล</p>
                            <table id="mytable"
                                class="tablesaw table-striped table-bordered table-hover table tablesaw-stack tablesaw-sortable"
                                data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                <thead>
                                    <tr>
                                        <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                            data-tablesaw-priority="3" class="border text-center">
                                            ลำดับ
                                        </th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            รหัสกิจกรรมประมวลผล
                                        </th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            ชื่อกิจกรรมประมวลผล
                                        </th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6"
                                            class="border text-center">
                                            แก้ไขข้อมูล
                                        </th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ลบข้อมูล
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-event">
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                <span>แสดงผล <span id="start-event"></span> ถึง <span id="end-event"></span> ทั้งหมด
                                    <span id="total-event"></span> รายการ</span>
                            </div>
                            <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="page navigation example" style="margin-right: 2%;">
                                    <ul class="pagination" id="pagination-wrapper-event">
                                    </ul>
                                </nav>
                            </div>
                        </div><br /><br />
                    </div>
                </div>
                <!-- row -->
                <!-- from delete event process -->
                <form id="del-event" method="post">
                    <div id="delete-event" class='modal fade modal-scroll' tabindex="-1"
                        aria-labelledby="success-header-modallabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lm">
                            <div class="modal-content">
                                <div class='modal-header modal-colored-header border-bottom title-part-padding'>
                                    <h4 class="modal-title" style="color: black; font-weight: bold;">
                                        ยืนยันลบกิจกรรมประมวลผล
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table-boardless">
                                                <th style="font-weight: bold; width: 35%; text-align: right;">
                                                    ชื่อกิจกรรมประมวลผล:
                                                </th>
                                                <td id="ev-name"></td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="button-center-success">
                                        <button type="button" id="sub-del-event"
                                            class="btn btn-danger font-weight-large">ยืนยัน</button>
                                    </div>
                                    <div class="button-center-danger2">
                                        <button type="button" class="btn btn-secondary font-weight-large"
                                            data-bs-dismiss="modal">ยกเลิก</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end container fluid  -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/dist/js/all_function_pattern.js"></script>
    <script src="/UI/dist/js/all_function_classification.js"></script>
    <script>
    </script>
    <%- include('../_footer') -%>