<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ไฟล์ Log</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">Log</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ไฟล์ Log</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="ajaxfilelog">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div class="row">
                    <div class="col-md-8 justify-content-start align-self-center d-none d-md-flex">
                        <h4 class="card-title mb-0">ไฟล์ Log</h4>
                    </div>
                    <div class="col-md-4 justify-content-end align-self-center d-none d-md-flex space">
                        <div class="not_allowed">
                            <a class="btn btn-info" id="csv">CSV</a>
                            <a class="btn btn-success" id="excel">Excel</a>
                            <a class="btn btn-warning" id="pdf"> PDF</a>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="card-body">
                        <div class="row pb-2 justify-content-end">
                            <div class="col-md-4 justify-content-start align-self-center d-none d-md-flex">
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex">
                                    <div class="col-4" style="margin-left: 0.5%;">
                                        <select name="users" id="select2-with-tags" multiple="" class="form-control devices"
                                                onchange="selectCheck()" placeholder="เลือกอุปกรณ์"
                                                style="background-color: white;width: 100%;" required>
                                                <% if(device) { %>
                                                    <option value="sum" selected>อุปกรณ์ทั้งหมด</option>
                                                    <% for(var i=0; i<device.length; i++){ %>
                                                        <option value="<%= device[i].device_id %>">
                                                            <%= device[i].name %>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                            </select><input id="mySelectCheck" type="hidden" value="sum">
                                    </div>
                                    <div class="input-group" style="margin-right: 5%;">
                                        <input class="form-control" type="date" name="date1" id="date1" required>
                                        <span class="input-group-text" id="basic-addon1">ถึง</span>
                                        <input class="form-control" type="date" name="date2" id="date2" required>
                                        <input type="text" class="form-control" placeholder="ค้นหา.." id="search" name="search" aria-label="" aria-describedby="button-addon2">
                                        <button type="button" class="btn btn-outline-warning" id="button-search"> Search </button>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div style="min-height: 470px; margin-left: 0.5%; margin-right: 1%;">
                        <table id="myTable" class="tablesaw no-wrap table-striped table-bordered table-hover table"
                            data-tablesaw-mode="stack" data-tablesaw-sortable>
                            <thead>
                                <tr>
                                    <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                        data-tablesaw-priority="3" class="border text-center" style="width: 5%;">
                                        ลำดับ</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                        class="border">อุปกรณ์</th>

                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                        class="border">โฮสต์เนม</th>

                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2"
                                        class="border">วัน เวลา</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2"
                                        class="border">ชื่อไฟล์</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"
                                        class="border">Hash(SHA256)</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                        class="border">ดาวน์โหลด</th>

                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-secondary">
                            <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <span
                                    id="total-db"></span> รายการ</span>
                        </div>
                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example" class="mt-2">
                                <ul class="pagination" id="pagination-wapper">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <!-- Row -->


    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
    <!--start overlay-->
    <%- include('../_footer') -%>
        <script type="text/javascript" src="/UI/other/dist/js/xlsx.full.min.js"></script>
        <script src="/UI/other/dist/js/views_js/report_js/js_report_filelog.js"></script>
        <script src="/UI/other/dist/js/page/page_log.js"></script>
        <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
        <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
        <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
        <script>
            var datadownload = <%- JSON.stringify(datadownload) %>;
            if (datadownload == '1') {
                alert("ไม่สามารถดาวน์โหลดไฟล์ได้");
            }
            var data_values = 0;
            if (csvFileData == data_values) {
                var csvFileData = null
            }

            function selectCheck() {
                var text = $('#select2-with-tags').val().toString();
                if (text != '') {
                    if ($('#mySelectCheck').val() == 'sum') { 
                        var arr = text.split(',');
                        if (arr.length > 1) {
                            var value_adjust = '';
                            for (var i = 1; i < arr.length; i++) {
                                if (i == 1) {
                                    value_adjust += arr[i];
                                }
                            }
                            $('#select2-with-tags').val([value_adjust]);
                            $('#select2-with-tags').trigger('change');
                        }
                    } else {
                        var arr = text.split(',');
                        if (arr[0] == 'sum' && text != 'sum') { //All Mode
                            $('#select2-with-tags').val(['sum']);
                            $('#select2-with-tags').trigger('change');
                        }
                    }
                }
                $('#mySelectCheck').val($('#select2-with-tags').val());
            }
        </script>