<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูล Log</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>micro_block">ไมโครบล็อคเชน</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= data[0] %>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">ข้อมูลของไฟล์:
                            <%= data[0] %>
                        </h4>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-body">
                            <div class="card-body">
                                <h4 class="card-title mb-0">ชื่อของอุปกรณ์</h4>
                            </div>
                            <div class="card-body border-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row py-3">
                                            <!-- <label class="control-label text-end col-md-4 font-weight-medium">ค่าที่ได้:</label> -->
                                            <div class="col-md-12">
                                                <p class="form-control-static">
                                                    <% if (device.length == 1){%>
                                                        <%= device[0].name %>
                                                            <%}else{%>
                                                                <span style="color:red">ไม่พบข้อมูลอุปกรณ์</span>
                                                                <%}%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-0">ค่าแฮชก่อนหน้า</h4>
                            </div>
                            <div class="card-body border-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row py-3">
                                            <!-- <label class="control-label text-end col-md-4 font-weight-medium">ค่าที่ได้:</label> -->
                                            <div class="col-md-12">
                                                <p class="form-control-static">
                                                    <%= data[1] %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-0">ค่าแฮชของเชน</h4>
                            </div>
                            <div class="card-body border-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row py-3">
                                            <!-- <label class="control-label text-end col-md-4 font-weight-medium">Address:</label> -->
                                            <div class="col-md-12">
                                                <p class="form-control-static">
                                                    <%= data[2] %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                            <div class="form-actions">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div align="center">
                                                    <a href="/<%=process.env.SUBFOLDER%>micro_block" class="btn btn-secondary">ย้อนกลับ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../_footer') -%>
