<%- include ("../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">รับเรื่องร้องเรียน</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>management/cookies">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">รับเรื่องร้องเรียน</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-items-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="input-group mb-3">
                        <input class="form-control" type="date" value="" id="firstDay">
                        <span class="input-group-text" id="basic-addon1">ถึง</span>
                        <input class="form-control" type="date" value="" id="lastDay">
                        <button class="btn btn-outline-warning" type="button" id="search_date_appeal"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-body">
                    <div class="row pt-2 pb-2">
                        <div class="col pr-0">
                            <h1 class="fw-light text-center" id="appeal-wait">-</h1>
                            <h6 class="text-muted">จำนวน เรื่องร้องเรียน รออนุมัติ</h6>
                        </div>
                        <div class="col text-end align-self-center">
                            <div data-label="50%" class="css-bar mb-0 css-bar-info css-bar-0" id="appeal-wait-icon">
                                <i class="mdi mdi-email"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body">
                    <div class="row pt-2 pb-2">
                        <div class="col pr-0">
                            <h1 class="fw-light text-center" id="appeal-notagree">-</h1>
                            <h6 class="text-muted">จำนวน ปฏิเสธเรื่องร้องเรียน</h6>
                        </div>
                        <div class="col text-end align-self-center">
                            <div data-label="40%" class="css-bar mb-0 css-bar-danger css-bar-0"
                                id="appeal-notagree-icon">
                                <i class="mdi mdi-email"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body">
                    <div class="row pt-2 pb-2">
                        <div class="col pr-0">
                            <h1 class="fw-light text-center" id="appeal-approve">-</h1>
                            <h6 class="text-muted">จำนวน อนุมัติเรื่องร้องเรียน</h6>
                        </div>
                        <div class="col text-end align-self-center">
                            <div data-label="30%" class="css-bar mb-0 css-bar-info css-bar-0" id="appeal-approve-icon">
                                <i class="mdi mdi-email"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div class="align-items-center d-none d-md-flex">
                    <h4 class="card-title mb-0">รับเรื่องร้องเรียน</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-md-8 justify-content-start align-items-center d-none d-md-flex">
                        <a href="/<%=process.env.SUBFOLDER%>appeal/add" class="btn btn-success"><i class="fas fa-plus"></i> เพิ่มร้องเรียน</a>
                    </div>
                    <div class="col-md-4 justify-content-end align-self-center d-none d-md-flex">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" id="reface"><i data-feather="refresh-cw"></i></a>
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                id="Srearch" aria-describedby="button-addon2">
                            <button class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <!---------------------------  table setdate  ---------------------------->
                <div style="min-height: 470px;" class="table-responsive">
                    <div id="table_Data-appeal">
                        <table class="tablesaw no-wrap table-striped table-bordered table-hover table">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th> ชื่อ-นามสกุล ผู้ร้องเรียน</th>
                                    <th>ที่อยู่</th>
                                    <th>ช่องทางติดต่อ</th>
                                    <th>รายละเอียดร้องเรียน</th>
                                    <th>วันที่ร้องเรียน</th>
                                    <th>วันที่ตอบกลับ</th>
                                    <th>ดูข้อมูล</th>
                                    <th>อนุมัติ / ปฏิเสธ</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/other/dist/js/views_js/appeal/appeal.js"></script>
    <%- include ("../../_footer") %>