<%- include('../_header') -%>
<!-- <%-JSON.stringify(importname)%> -->
<style>
  .dataTables_empty {
    color: red !important;
  }

  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    color: #868e96 !important;
  }
</style>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-md-5 align-self-center">
      <h3 class="page-title">ประวัติการนำออกข้อมูล</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/<%=process.env.SUBFOLDER%>index2">หน้าแรก</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              ประวัติการนำออกข้อมูล
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- Row -->
  <!-- <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">ประวัติการนำออกข้อมูล</h4>
            <div class="text-end">
              <h2 class="fw-light mb-0"><%if(dataout){%>
                <%=dataout.length%>
                <%}%></h2>
              <span class="text-muted"
                >ณ วันที่ <%= (new Date().getDate())+"/"+((new
                Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " +
                (new Date().getHours()) + ":" + (new Date().getMinutes())
                %></span
              >
            </div>
            <span class="text-success">100%</span>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 100%; height: 6px"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ GB</h4>
            <div class="text-end">
              <h2 class="fw-light mb-0">
                <span id="diskSpace"> <%= checkDiskSpace.size %> </span>
              </h2>
              <span class="text-muted"
                >ณ วันที่ <%= (new Date().getDate())+"/"+((new
                Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " +
                (new Date().getHours()) + ":" + (new Date().getMinutes())
                %></span
              >
            </div>
            <span class="text-info" id="bar2">
              <%=
              100-(((parseInt(checkDiskSpace.free)/parseInt(checkDiskSpace.size))*100).toFixed(0))
              %>%
            </span>
            <div class="progress">
              <div
                id="progress-bar2"
                class="progress-bar bg-info"
                role="progressbar"
                aria-valuenow=""
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">การใช้ข้อมูลที่ DPO อนุมัติ</h4>
            <div class="text-end">
              <h2 class="fw-light mb-0" id="bar3">0</h2>
              <span class="text-muted"
                >ณ วันที่ <%= (new Date().getDate())+"/"+((new
                Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " +
                (new Date().getHours()) + ":" + (new Date().getMinutes())
                %></span
              >
            </div>
            <span class="text-purple" id="dpo">100%</span>
            <div class="progress">
              <div
                id="percenttotal"
                class="progress-bar bg-purple"
                role="progressbar"
                aria-valuenow=""
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4 class="card-title mb-0">
            ประวัติการนำออกข้อมูล
            เพื่อให้สามารถตรวจดูประวัติการดาวน์โหลดย้อนหลังและตรวจสอบค่าที่เข้ารหัส ณ เวลาที่ดาวน์โหลดได้<span class="text-secondary"></span>
          </h4>
        </div>
        <div class="card-body">
          <%if(dataout){%>
          <%if(dataout.length> 0){%>
          <form action="javascript:void(0);" method="post">
            <div class="row">
              <div class="col-md-8">
                <!-- <a href="/<%=process.env.SUBFOLDER%>dataoutlistadd" class="btn btn-success">
                  <i class="me-2 mdi mdi-file-export"></i>
                  กำหนดการใช้ข้อมูล</a
                >
                <a href="/<%=process.env.SUBFOLDER%>dataoutviewchart" class="btn btn-warning">
                  <i class="me-2 mdi mdi-monitor"></i>
                  แสดงประวัติการส่งออก</a
                > -->
                <h5 class="card-title mb-0 ml-5">
                  ตรวจสอบค่าที่เข้ารหัส ณ เวลาที่ดาวน์โหลดโดยการนำค่า 8 ตัวหลังจากชื่อไฟล์
                  มาค้นหาและตรวจสอบค่าที่เข้ารหัส ได้จากตาราง<span class="text-secondary"></span>
                </h5>
              </div>

              <!-- <div class="col-md-4">
                <div class="input-group mb-2">
                  <a
                    href="/<%=process.env.SUBFOLDER%>dataoutviewchart"
                    class="btn form-control"
                    id="id_1"
                    style="background-color: red; color: white"
                  >
                    <i class="me-2 mdi mdi-file-export"></i>
                    แสดงประวัติการส่งออก</a
                  >
                </div>
              </div> -->
              <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                <div class="input-group mb-2">
                  <a class="btn btn-outline-warning" id="reface" onclick="reloadpage()"><i data-feather="refresh-cw"></i></a>
                  <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value="" id="myCustomSearchBox" aria-describedby="button-addon2" />
                  <button class="btn btn-outline-warning" type="button" id="button-addon2">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
          <%}}%>
          <div style="min-height: 470px; margin-left: 1%; margin-right: 1%" class="table-responsive">
            <%if(dataout){%>
            <%if(dataout.length> 0){%>
            <br />
            <table class="tablesaw table-striped table-bordered table-hover table" id="myTabletest">
              <thead>
                <tr>
                  <th class="border" style="text-align: center">ลำดับ</th>
                  <th class="border" style="text-align: center;width: 30%">ชื่อไฟล์</th>
                  <th class="border" style="text-align: center">ชื่อประเภท</th>
                  <th class="border" style="text-align: center">
                    ข้อมูลที่แยกประเภท
                  </th>
                  <th style="width: 10%" class="border text-center">
                    วันที่ดาวน์โหลด
                  </th>
                  <th class="border" style="text-align: center">
                    อุปกรณ์/Agent
                  </th>
                  <th class="border" style="text-align: center">
                    ค่าที่เข้ารหัส : <%if(set_system){%>
                    <%if(set_system.length> 0){%>
                    <%if(set_system[0].view_hash_pdpa_dataout=="sha256" ){%>
                    SHA-256
                    <%}if(set_system[0].view_hash_pdpa_dataout=="sha1" ){%>
                    SHA-1
                    <%}if(set_system[0].view_hash_pdpa_dataout=="md5" ){%>
                    MD5
                    <%}}}%>
                  </th>
                </tr>
              </thead>
              <tbody>
                <%for (i in dataout){%>
                <tr>
                  <td class="title align-top" style="text-align: center">
                    <%=parseInt(i)+1%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].file_name%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].classify_name%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].pattern_name%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <%=dataout[i].date_load%>
                  </td>
                  <td class="align-top" style="text-align: center">
                    <span style="color: blue" id="import_<%=dataout[i].data_out_history_hash_id%>"></span>
                    <%if(dataout[i].pattern_storage_method_inside_agent != 0){%>
                      จาก
                      <%}%>
                    <span style="color: red" id="importagent_<%=dataout[i].data_out_history_hash_id%>">
                    </span>
                  </td>
                  <%if(set_system){%>
                  <%if(set_system.length> 0){%>
                  <td class="align-top" style="text-align: center">
                    <%if(set_system[0].view_hash_pdpa_dataout=="md5" ){%>
                    <%=dataout[i].md5%>
                    <%}else if(set_system[0].view_hash_pdpa_dataout=="sha1" ){%>
                    <%=dataout[i].sha1%>
                    <%}else if(set_system[0].view_hash_pdpa_dataout=="sha256" ){%>
                    <%=dataout[i].sha256%>
                    <%}%>
                                                    <%if(dataout[i].sha256==null){%>
                    <span class="text-warning">NULL กรุณาทำการ DOWNLOAD FILE CSV
                      ก่อน</span>
                    <%}%>
                                    </td>
                                    <%}}%>
                    <!-- <td class="title align-top tablesaw-swipe-cellhidden tablesaw-swipe-cellpersist text-center" style="width:110px"><a style="cursor: pointer;" class="text-info"><i class="fas fa-file-alt fa-2x"></i></a></td>
                            <td class="title align-top tablesaw-swipe-cellhidden tablesaw-swipe-cellpersist text-center" style="width:110px"><a style="cursor: pointer;" onclick="alertdel('<%=dataout[i].data_out_id%>','<%=dataout[i].classify_name%>');"><i class="fas fa-trash-alt fa-2x" style="color:red"></i></a></td> -->
                </tr>
                <%}%>
                          </tbody>
                        </table>
                        <%}else{%>
                <br />
                <table class="tablesaw table-striped table-bordered table-hover table" id="myTabletest">
                  <thead>
                    <tr>
                      <th class="border" style="text-align: center">ลำดับ</th>
                      <th class="border" style="text-align: center;width: 30%">ชื่อไฟล์</th>
                      <th class="border" style="text-align: center">ชื่อประเภท</th>
                      <th class="border" style="text-align: center">
                        ข้อมูลที่แยกประเภท
                      </th>
                      <th style="width: 10%" class="border text-center">
                        วันที่ดาวน์โหลด
                      </th>
                      <th class="border" style="text-align: center">
                        อุปกรณ์/Agent
                      </th>
                      <th class="border" style="text-align: center">
                        ค่าที่เข้ารหัส : <%if(set_system){%>
                        <%if(set_system.length> 0){%>
                        <%=set_system[0].view_hash_pdpa_dataout%>
                        <%}}%>
                      </th>
                    </tr>
                  </thead>
                </table>
                <%}}%>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
  </div>
</div>
<div><%- include('data_out_del') -%></div>
<form action="/<%=process.env.SUBFOLDER%>dataoutadd" method="POST">
  <%- include('data_out_add') -%> <%- include('data_out_addclass') -%>
</form>
<script>
  function alertdel(id, name) {
    let confirmAction = confirm(
      "(ตัวลบชั่วคราว) ต้องการลบ " + name + " ใช่หรือไม่"
    );
    if (confirmAction) {
      location.href = `/${Sub}dataoutdel/` + id;
    }
  }

  function allowdpo(id, classname, patname) {
    Sub = document.getElementById('SubDomain').value;
    let timerInterval;
    Swal.fire({
      confirmButtonText: "ยืนยัน",
      showCancelButton: true,
      cancelButtonText: "ยกเลิก",
      title: "อนุญาต DPO การส่งออกข้อมูลสู่ภายนอก",
      html: '<br><label class="text-secondary" > ชื่อประเภท </label> <label >' +
        classname +
        "</label> <br>" +
        '<label class="text-secondary" "> ข้อมูลที่แยกประเภท </label> <label >' +
        patname +
        "</label> <br>",
    }).then((result) => {
      if (result.value) {
        var request1 = function() {
          $.ajax({
            url: `/${Sub}dataoutchangedpo/` + id,
            type: "get",
            success: function(data) {
              location.reload();
            },
          });
        };
        request1();
      }
    });
  }
</script>
<script>
  var databar = <%-JSON.stringify(dataout) %>;
  var importname = <%-JSON.stringify(importname) %>;
  var importagent = <%-JSON.stringify(importagent) %>;
  var countdpo = 0;
  var countdponot = 0;
  for (i in databar) {
    if (databar[i].dpo_confirm == 1) {
      countdpo += 1
    } else {
      countdponot += 1
    }
  }
  var percent = ((parseInt(countdpo) / parseInt(databar.length)) * 100)
  console.log(percent);
  $('#bar3').text(countdpo)
  if (isNaN(percent)) {
    console.log("tessssssssss");

  } else {
    $('#dpo').text(percent.toFixed(0) + "%")
    $('#percenttotal').css("width", percent.toFixed(0) + "%")
  }
  for(s in databar){
      var datan = databar[s].pattern_storage_method_inside_import_id;
      var datan2 =  databar[s].pattern_storage_method_inside_agent;
      if(datan2 != 0){
        datan2 = datan2.toString();
        datan2 = datan2.split(",");
      }
      datan = datan.split(",");
      var namee = "";
      var nameagent = "";
      if(datan.length > 0) {
        for(ss in datan){
        for(sss in importname){
        if(datan[ss] == importname[sss].ftp_id){
          var text = "#import_"+databar[s].data_out_history_hash_id
          if(ss != 0){
            namee = namee+","+importname[sss].name
            $(text).text(namee)
          }else{
            namee = importname[sss].name
            $(text).text(namee)
          }
        }
      }
    }
    }if (datan2 != 0){ 
        for(ss in datan2){
      for(sss in importagent){
        if(datan2[ss] == importagent[sss].agm_id){
          var text = "#importagent_"+databar[s].data_out_history_hash_id
          if(ss != 0){
            nameagent = nameagent+","+importagent[sss].agm_name
            $(text).text(nameagent)
          }else{
            nameagent = importagent[sss].agm_name
            $(text).text(nameagent)
          }
        }
      }
      }
      }
    }
</script>
<script>
  function reloadpage() {
    location.reload();
  }
  $(document).ready(function() {
    dTable = $("#myTabletest").DataTable({
      ordering: false,
      autoWidth: false,
      bLengthChange: false, // this gives option for changing the number of records shown in the UI table
      columnDefs: [{
          className: "dt-center",
          targets: "_all",
        }, //columnDefs for align text to center
      ],
      dom: "lrtip",
      pageLength: 20,
      oSearch: {
        bSmart: false,
        bRegex: true
      }, //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
    });
    $("#myCustomSearchBox").keyup(function() {
      dTable.search($(this).val()).draw(); // this  is for customized searchbox with datatable search feature.
    });

    //$('#myTabletest_filter input').addClass('btn form-control');
    //$('#myTabletest input').addClass('btn btn-success');
    $("#myTableclass").DataTable({
      // bAutoWidth: false,
      lengthMenu: [
        [3, 5, 10, 25, -1],
        [3, 5, 10, 25, "All"],
      ],
    });
    var convert_gb = parseInt($("#diskSpace").text()) / (1024 * 1024 * 1024);
    var bar = parseInt($("#bar2").text());
    $("#diskSpace").text(convert_gb.toFixed(0));
    $("#progress-bar2").css("width", bar);

    // $('#tablecsv').DataTable({

    // });
  });
</script>
<%- include('../_footer') -%>
<script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
<script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>