<%- include ("../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">จัดการ Cookie</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">จัดการ Cookie</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#addDomain-modal"><i class="fas fa-plus"></i>
                            เพิ่มโดเมน</button>
                        <!-- <button type="button" class="btn btn-success px-4" id="build_tag"><i class="fas fa-plus"></i>
                            สร้าง Tag</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid note-has-grid">
        <!-- <ul class="nav nav-pills  mb-3 align-items-center" style="padding: 0.5rem;">
            <li class="nav-item"> <a href="javascript:void(0)"
                    class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center active  px-3 px-md-3 me-0 me-md-2"
                    id="all-category">
                    <i class="fas fa-tag icon_tag"></i>
                    <span class="d-none d-md-block font-weight-medium font_tag">ทั้งหมด</span></a>
            </li>
            <% for (i in tag ) {%>
                <li class="nav-item"> <a href="javascript:void(0)"
                        class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center px-3 px-md-3 me-0 me-md-2"
                        id="tag_<%=tag[i].id_tag%>,<%= tag[i].id_tag%>">
                        <i class="icon_tag fill-white   fas fa-tag set_color " id="style_<%= tag[i].id_tag%>"></i>
                        <span class="d-none d-md-block font-weight-medium font_tag">
                            <%=tag[i].tag_name%>
                        </span>
                    </a>
                </li>
                <script>
                    document.getElementById("style_<%= tag[i].id_tag%>").style.color = "<%=tag[i].tag_styles%>";
                </script>
                <%}%>
        </ul> -->
        <% if (domaingroup!="ไม่มีข้อมูล" ){%>
            <div class="tab-content" id="draft">
                <!-- <h4 class="topic mb-3" style="color: #868e96;">Cookie ร่าง</h4> -->
                <div class="note-has-grid row note-full-container">
                    <% for(var i=0;i< domaingroup.length;i++) {%>
                        <div class="col-md-4 draft-<%=i+1%>  single-note-item all-category"
                            id="badge-group-item<%=domaingroup[i].id_dg%>">
                            <div class="card-header bg-secondary  text-center">
                                <a href="/<%=process.env.SUBFOLDER%>dialogs/<%=domaingroup[i].id_dg%>">
                                    <h5 class="domain_<%=domaingroup[i].id_dg%> text-white" id="p-namedomain-<%=i+1%>"
                                        style="font-size: x-large;">
                                        <%=domaingroup[i].namedomain_dg%>
                                    </h5>
                                </a>
                            </div>
                            <div class="card card-body " style="background-color: rgb(255, 255, 255);">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row py-1">
                                            <label class="control-label text-start col-md-4 font-weight-medium">
                                                วันที่สร้าง</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static">
                                                    <%=domaingroup[i].date_dg%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row py-1">
                                            <label class="control-label text-start col-md-4 font-weight-medium">
                                                ผู้สร้าง </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static">
                                                    <%=session.acc_name%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row py-1">
                                            <label class="control-label text-start col-md-4 font-weight-medium">
                                                ชื่อคุกกี้ </label>
                                            <div class="col-md-8">
                                                <p class="form-control-static" id="cookie_show-<%=i+1%>">
                                                    <%if (domaingroup[i].name_cookie) {%>
                                                        <%=domaingroup[i].name_cookie%>
                                                            <%}else{%>
                                                                -
                                                                <%}%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row py-1">
                                            <label class="control-label text-start col-md-4 font-weight-medium">
                                                ข้อความ </label>
                                            <div class="col-md-6">
                                                <p class="form-control-static text-secondary" id="h6-<%=i+1%>">
                                                    <%=domaingroup[i].message%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row py-1">
                                            <label class="control-label text-start col-md-4 font-weight-medium">
                                                สถานะ </label>
                                            <div class="col-md-6">
                                                <p id="status-<%=i+1%>" class="form-control-static text-secondary">
                                                    Cookie ร่าง
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="form-group row py-1">
                                            <label class="control-label text-start col-md-4 font-weight-medium">
                                                แท็ก </label>
                                            <div class="col-md-6">
                                                <span class="ms-auto" id="tag_select_domain_<%=domaingroup[i].id_dg%>">
                                                    -
                                                </span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="modal-footer">
                                    <a onclick=" Edit('<%=i+1%>','draft','<%=domaingroup[i].id_dg%>','<%=tag%>')"
                                        class=" btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"><i
                                            class="fas fa-pencil-alt fa-1x"></i>
                                        กำหนดสถานะ</a>
                                    <a onclick="Delete('<%=i+1%>','draft','<%=domaingroup[i].id_dg%>')"
                                        data-bs-toggle="modal" data-bs-target="#delete" class=" btn btn-danger">
                                        <i class="fas fa-trash-alt fa-1x"></i>
                                        ลบโดเมน</a>
                                </div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
            <% }%>


                <% if (domaingroup_use!="ไม่มีข้อมูล" ){%>
                    <div class="tab-content" id="use_tag">
                        <!-- <h4 class="topic_use mb-3" style="color: #39c449;">Cookie ใช้งาน</h4> -->
                        <div class="note-has-grid row note-full-container">
                            <% for(var i=0;i< domaingroup_use.length;i++) {%>
                                <div class="col-md-4 single-note-item all-category use-<%=i+1%>"
                                    id="badge-group-item-use<%=domaingroup_use[i].id_dg%>">
                                    <div class="card-header bg-success  text-center">
                                        <a href="/<%=process.env.SUBFOLDER%>dialogs/<%=domaingroup_use[i].id_dg%>">
                                            <h5 class="domain_<%=domaingroup_use[i].id_dg%> text-white"
                                                id="p-namedomain-<%=i+1%>" style="font-size: x-large;">
                                                <%=domaingroup_use[i].namedomain_dg%>
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="card card-body " style="background-color: rgb(255, 255, 255);">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        วันที่สร้าง</label>
                                                    <div class="col-md-8">
                                                        <p class="form-control-static">
                                                            <%=domaingroup_use[i].date_dg%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        ผู้สร้าง </label>
                                                    <div class="col-md-8">
                                                        <p class="form-control-static">
                                                            <%=session.acc_name%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        ชื่อคุกกี้ </label>
                                                    <div class="col-md-8">
                                                        <p class="form-control-static" id="cookie_show-<%=i+1%>">
                                                            <%if (domaingroup_use[i].name_cookie) {%>
                                                                <%=domaingroup_use[i].name_cookie%>
                                                                    <%}else{%>
                                                                        -
                                                                        <%}%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        ข้อความ </label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static text-secondary" id="h6-<%=i+1%>">
                                                            <%=domaingroup_use[i].message%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        สถานะ </label>
                                                    <div class="col-md-6">
                                                        <p id="status-<%=i+1%>"
                                                            class="form-control-static text-success">
                                                            Cookie ใช้งาน
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-12">
                                                <div class="form-group row py-1">
                                                    <label class="control-label text-start col-md-4 font-weight-medium">
                                                        แท็ก </label>
                                                    <div class="col-md-6">
                                                        <p id="status-<%=i+1%>"
                                                            class="form-control-static text-secondary">
                                                            <span class="ms-auto"
                                                                id="tag_select_domain_<%=domaingroup_use[i].id_dg%>">-</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-info"
                                                href="/<%=process.env.SUBFOLDER%>management/script_banner/<%=domaingroup_use[i].id_dg%>">รับสคริปต์</a>
                                            <a onclick=" Edit('<%=i+1%>','use','<%=domaingroup_use[i].id_dg%>')"
                                                class=" btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#edit"><i class="fas fa-pencil-alt fa-1x"></i>
                                                กำหนดสถานะ</a>

                                            <a onclick="Delete('<%=i+1%>','use','<%=domaingroup_use[i].id_dg%>')"
                                                data-bs-toggle="modal" data-bs-target="#delete" class=" btn btn-danger">
                                                <i class="fas fa-trash-alt fa-1x"></i>
                                                ลบโดเมน</a>
                                        </div>
                                    </div>
                                </div>
                                <% }%>
                        </div>
                    </div>
                    <% }%>


                        <% if (domaingroup_cancel!="ไม่มีข้อมูล" ){%>
                            <div class="tab-content" id="cancel_tag">
                                <!-- <h4 class="topic_cancel" style="color: #f62d51;">Cookie
                                    ยกเลิก
                                </h4> -->
                                <div class="note-has-grid row note-full-container">
                                    <% for(var i=0;i< domaingroup_cancel.length;i++) {%>
                                        <div class="col-md-4 single-note-item all-category cancel-<%=i+1%>"
                                            id="badge-group-item-cancel<%=domaingroup_cancel[i].id_dg%>">
                                            <div class="card-header bg-danger  text-center">
                                                <a href="/<%=process.env.SUBFOLDER%>dialogs/<%=domaingroup_cancel[i].id_dg%>">
                                                    <h5 class="domain_<%=domaingroup_cancel[i].id_dg%> text-white"
                                                        id="p-namedomain-<%=i+1%>" style="font-size: x-large;">
                                                        <%=domaingroup_cancel[i].namedomain_dg%>
                                                    </h5>
                                                </a>
                                            </div>
                                            <div class=" card card-body " style=" background-color: rgb(255, 255,
                                                    255);">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                วันที่สร้าง</label>
                                                            <div class="col-md-8">
                                                                <p class="form-control-static">
                                                                    <%=domaingroup_cancel[i].date_dg%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                ผู้สร้าง </label>
                                                            <div class="col-md-8">
                                                                <p class="form-control-static">
                                                                    <%=session.acc_name%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                ชื่อคุกกี้ </label>
                                                            <div class="col-md-8">
                                                                <p class="form-control-static"
                                                                    id="cookie_show-<%=i+1%>">
                                                                    <%if (domaingroup_cancel[i].name_cookie) {%>
                                                                        <%=domaingroup_cancel[i].name_cookie%>
                                                                            <%}else{%>
                                                                                -
                                                                                <%}%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                ข้อความ </label>
                                                            <div class="col-md-6">
                                                                <p class="form-control-static text-secondary"
                                                                    id="h6-<%=i+1%>">
                                                                    <%=domaingroup_cancel[i].message%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                สถานะ </label>
                                                            <div class="col-md-6">
                                                                <p id="status-<%=i+1%>"
                                                                    class="form-control-static text-danger">
                                                                    Cookie ยกเลิก </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-12">
                                                        <div class="form-group row py-1">
                                                            <label
                                                                class="control-label text-start col-md-4 font-weight-medium">
                                                                แท็ก </label>
                                                            <div class="col-md-6">
                                                                <p id="status-<%=i+1%>"
                                                                    class="form-control-static text-secondary">
                                                                    <span class="ms-auto"
                                                                        id="tag_select_domain_<%=domaingroup_cancel[i].id_dg%>">-</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="modal-footer">
                                                    <a onclick=" Edit('<%=i+1%>','cancel','<%=domaingroup_cancel[i].id_dg%>')"
                                                        class=" btn btn-warning" data-bs-toggle="modal"
                                                        data-bs-target="#edit"><i class="fas fa-pencil-alt fa-1x"></i>
                                                        กำหนดสถานะ</a>
                                                    <a onclick="Delete('<%=i+1%>','cancel','<%=domaingroup_cancel[i].id_dg%>')"
                                                        data-bs-toggle="modal" data-bs-target="#delete"
                                                        class=" btn btn-danger"><i class="fas fa-trash-alt fa-1x"></i>
                                                        ลบโดเมน</a>
                                                </div>
                                            </div>
                                        </div>
                                        <% }%>
                                </div>
                            </div>
                            <% }%>

                                <!-- Modal tag -->
                                <!-- <div class="row mt-3 cookie-tag">
                                    <div class="col">
                                        <div class="card ">
                                            <div class="border-bottom title-part-padding">
                                                <h4 class="card-title mb-0">สร้าง Tag</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row pb-3">
                                                    <div class="col-md-8">
                                                        <button type="button" class="btn btn-success px-4"
                                                            data-bs-toggle="modal" data-bs-target="#add-tag-modal"><i
                                                                class="fas fa-plus"></i>
                                                            สร้าง Tag</button>
                                                    </div>
                                                    <div
                                                        class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                                        <div class="input-group mb-2 ">
                                                            <a class="btn btn-outline-warning" id="reface"><i
                                                                    data-feather="refresh-cw"></i></a>
                                                            <input type="text" class="form-control"
                                                                placeholder="ค้นหา.." aria-label="" value=""
                                                                id="Srearch" aria-describedby="button-addon2">
                                                            <button class="btn btn-outline-warning" type="button"
                                                                id="button-addon2"><i
                                                                    class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="table-responsive" style="min-height: 470px;"
                                                    id="table-data-tag">
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-6 text-secondary ">
                                                        <div class="row">
                                                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a>
                                                                ทั้งหมด <a id="show_all"></a>
                                                                รายการ</span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                                                        <nav aria-label="Page navigation example" class="mt-2">
                                                            <ul class="pagination">
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- </div> -->

                                <!-- Modal add Domain -->
                                <div class="modal fade" id="addDomain-modal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom">
                                                <h4 class="modal-title" id="exampleModalLabel1">เพิ่มโดเมน
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="/<%=process.env.SUBFOLDER%>adddomain" method="post" id="Demo">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label for="message-text"
                                                                class="col text-start control-label col-form-label">ชื่อโดเมน
                                                                :</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="input-group mb-3 row">
                                                                <div class="col-md-3">
                                                                    <select class="form-control" id="" name="protocol"
                                                                        aria-label="Default select example">
                                                                        <option selected value="https">https://
                                                                        </option>
                                                                        <option value="http">http://</option>
                                                                    </select>
                                                                </div>
                                                                <input type="text" class="form-control" id="domain"
                                                                    required name="namedomain_dg"
                                                                    aria-describedby="basic-addon3">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-3">
                                                        <div class="col-md-2">
                                                            <label for="message-text"
                                                                class="col text-start control-label col-form-label">ชื่อคุกกี้
                                                                :</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <input class="form-control mt-1" name="name_cookie"
                                                                required></input>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-3">
                                                        <div class="col-md-2">
                                                            <label for="message-text"
                                                                class="col text-start control-label col-form-label">ข้อความ
                                                                :</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <textarea class="form-control" name="message"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col-md-12 text-center text-danger" id="alert">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="justify-content: center;">
                                                    <button id="submit" type="submit"
                                                        class="btn btn-success">ตกลง</button>
                                                    <!-- <a id="check_domain" class="btn btn-success">ตกลง</a> -->
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal add Tag -->
                                <!-- <div class="modal fade" id="add-tag-modal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom">
                                                <h4 class="modal-title" id="exampleModalLabel1">สร้างTag
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="/<%=process.env.SUBFOLDER%>saveTag" method="post">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="control-label">กรอก
                                                            Tag</label>
                                                        <input type="text" name='tag_dg' value=""
                                                            style="border-radius: 4px;background-color: aqua;" required
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="justify-content: center;">
                                                    <button type="submit" class="btn btn-success">ตกลง</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- Modal edit Tag -->
                                <!-- <div class="modal fade" id="edit-tag-modal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom">
                                                <h4 class="modal-title" id="exampleModalLabel1">เเก้ไขข้อมูล
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="/<%=process.env.SUBFOLDER%>editTag" method="post">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="recipient-name"
                                                            class="control-label">ชื่อTag</label>
                                                        <input type="text" name='tag_name'
                                                            class="form-control border-info" id="edit_tag_model">
                                                        <input type="text" name='id_tag' id="id_tag_model" hidden>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="justify-content: center;">
                                                    <button type="submit" class="btn btn-success">ตกลง</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- Modal delete Domain -->
                                <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom">
                                                <h4 class="modal-title" id="exampleModalLabel1">ลบโดเมน</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="/<%=process.env.SUBFOLDER%>delete" method="post">
                                                <div class="modal-body">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">ชื่อโดเมน
                                                                    :</label>
                                                            </div>
                                                            <div class="col-8">
                                                                <label class="control-label col-form-label"
                                                                    id="delete_domain">
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">ชื่อคุกกี้
                                                                    :</label>
                                                            </div>
                                                            <div class="col-8">
                                                                <label class="control-label col-form-label"
                                                                    id="delete_namecookie">
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">สถานะ
                                                                    :</label>
                                                            </div>
                                                            <div class="col-8">
                                                                <label class="control-label col-form-label"
                                                                    id="delete_status">
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">ข้อความ
                                                                    :</label>
                                                            </div>
                                                            <div class="col-8">
                                                                <label class="control-label col-form-label"
                                                                    id="delete_message">
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="delete_id" name="id_dg">
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="justify-content: center;">
                                                    <button type="submit" class="btn btn-danger">ยืนยัน</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal edit Domain -->
                                <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom">
                                                <h3 class="modal-title" id="exampleModalLabel1">เเก้ไขโดเมน
                                                </h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="/<%=process.env.SUBFOLDER%>edit-domain" method="post">
                                                <div class="modal-body">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">ชื่อโดเมน
                                                                    :</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <select class="form-control" id="protocol"
                                                                            name="protocol"
                                                                            aria-label="Default select example">
                                                                        </select>
                                                                    </div>
                                                                    <div class="col">
                                                                        <input type="text" class="form-control"
                                                                            id="domain_edit" name="namedomain_dg"
                                                                            placeholder="https://www.domain.com"
                                                                            value="https://">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">ชื่อคุกกี้
                                                                    :</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <input class="form-control mt-1"
                                                                    id="message-cookie_edit" name="name_cookie"></input>
                                                            </div>
                                                        </div>

                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">สถานะ
                                                                    :</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <select class="form-control" id="status_edit"
                                                                    name="status" aria-label="Default select example">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">แท็ก
                                                                    :</label>
                                                            </div>
                                                            <div class="col-8">
                                                                <select class="select2 form-control" multiple="multiple"
                                                                    id="option_tag_test" name="tag"
                                                                    style="height: 36px;width: 100%;">
                                                                </select>
                                                            </div>
                                                        </div> -->
                                                        <div class="row mt-3">
                                                            <div class="col">
                                                                <label for="message-text"
                                                                    class="text-end control-label col-form-label">ข้อความ
                                                                    :</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <textarea class="form-control" id="message_edit"
                                                                    name="message"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="col text-center text-danger mt-3" id="alert_edit">
                                                        </div>
                                                        <input type="hidden" id="id_edit" name="id_dg">
                                                    </div>
                                                    <div hidden>
                                                        <select class="select2 form-control" multiple="multiple"
                                                            id="option_tag" name="tag"
                                                            style="height: 36px;width: 100%;">
                                                            <% for (i in tag ) {%>
                                                                <option value="<%= tag[i].id_tag%>">
                                                                    <%=tag[i].tag_name%>
                                                                </option>
                                                                <%}%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="justify-content: center;">
                                                    <button type="submit" class="btn btn-warning">บันทึกเเก้ไข</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

    </div>
    <style>
        .select2-container {
            z-index: 9999;

        }

        .tag-cookie {
            background-color: #868e96;
            /* color: black; */
            padding: 2px;
            /* font-size: 21px; */
            font-weight: 500;
            border-radius: 10px 10px 0px 0px;

        }

        .tag-cookie-use {
            background-color: #39c449;
            /* color: whitesmoke; */
            padding: 2px;
            /* font-size: 21px; */
            font-weight: 500;
            border-radius: 10px 10px 0px 0px;

        }

        .tag-cookie-cancel {
            background-color: #f62d51;
            /* color: whitesmoke; */
            padding: 2px;
            /* font-size: 21px; */
            font-weight: 500;
            border-radius: 10px 10px 0px 0px;

        }

        .spect {
            margin-right: 0.75rem;
            width: 18px;
            height: 24px;
            /* font-size: 26px; */
            /* color: black; */
        }

        .icon_width {
            margin-right: 0.5rem;
            font-size: 15px;
        }

        .icon_tag {
            margin-right: 0.25rem;
            font-size: larger;
        }

        .icon_tag_select {
            font-size: larger;
            margin-right: 0.25rem;
        }

        .font_tag {
            font-size: 15px;
        }
    </style>
    <script src="/UI/other/dist/js/views_js/tagify.min.js"> </script>
    <script src="/UI/other/dist/js/pages/notes/notes.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/UI/other/dist/js/pages/forms/select2/select2.init.js"></script>
    <script src="/UI/other/dist/js/views_js/cookie_managemet/cookie_managemet.js"> </script>
    <%- include ("../../_footer") %>