<%- include('../_header') -%>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-12 align-self-center">
            <h3 class="page-title">ข้อมูล Agent Sniffer</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ข้อมูล Agent Sniffer</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="a-sniffer">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">จำนวน Device ทั้งหมด</h4>
                    <div class="text-end">
                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i>
                            <%= total_path.length %>
                        </h2>
                        <span class="text-muted">ณ วันที่ <span id="today"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>    
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3>จำนวน Records ของแต่ละ Device</h3>
                                    <h6 class="card-subtitle">ณ วันที่ <span id="today1"></span></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="revenue-statistics"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-12">
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">รายการข้อมูล Agent Sniffer<span class="text-secondary"></span></h4>
                </div>
                <div class="card-body">
                    <form action="javascrip:void(0);" method="post">
                        <div class="row pb-3">
                            <div class="col-md-8">
                                <div clas="form-group">
                                    <p><label for="path">เลือกอุปกรณ์ที่ต้องการ</label>
                                        <select class="form-control" style="width: 15%; height:36px; margin-right:1%; display:inline-block;" id="path">
                                            <option selected disabled value="">กรุณาเลือก</option>
                                            <% for (i in total_path) {%>
                                                <option value="<%= total_path[i].name %>">
                                                <%= total_path[i].name %>
                                                </option>
                                            <%}%>
                                        </select>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                <div class="input-group mb-2">
                                    <a href="javascript:void(0);" id="refresh-cw" class="btn btn-outline-warning"><i data-feather="refresh-cw"></i></a>
                                    <input list="browers" type="text" class="form-control" placeholder="ค้นหา.." name="search">
                                    <datalist id="browers">
                                    </datalist>
                                    <button type="button" id="btn-search" class="btn btn-outline-warning"> Search </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div style="min-height: 470px; margin-left: 0.5%; margin-right: 1%;">
                        <table id="myTable" class="tablesaw no-wrap table-striped table-bordered table-hover table" data-tablesaw-mode="stack" data-tablesaw-sortable>
                            <thead>
                                <tr>
                                    <th data-tablesaw-priority="persist" class="border" style="width: 5%;">
                                        ลำดับ</th>
                                    <th scope="col" data-tablesaw-priority="1" class="border">
                                        ชื่อไฟล์</th>
                                    <th scope="col" data-tablesaw-priority="2" class="border">
                                        สกุลไฟล์</th>
                                    <th scope="col" data-tablesaw-priority="3" class="border">
                                        ขนาดของไฟล์</th>
                                    <th scope="col" data-tablesaw-priority="4" class="border">
                                        รายละเอียด</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-secondary">
                            <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <span id="total"></span> รายการ</span>
                        </div>
                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example" class="mt-2">
                                <ul class="pagination" id="pagination-wrapper">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-12">
           <div class="modal fade" id="detail_file" tabindex="-1" aria-labelledby="detail_file" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h4 class="modal-title" id="myLargeModalLabel">รายละเอียดของไฟล์ <span id="detail-name"></span></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <table class="table table-boardless">
                                <tr>
                                    <th width="32%" style="text-align: left;">เนื้อหาภายในไฟล์ <span id="inside-name"></span> ( 20 บรรทัดสุดท้าย )</th>
                                </tr> 
                            </table>
                            <textarea id="detail-show" class="form-control" rows="25" readonly></textarea>
                        </div>
                    </div>
                    <div class="text-center" style="margin-bottom: 2%;">
                      <button type="button" class="btn btn-secondary font-weight-medium waves-effect text-start" data-bs-dismiss="modal">ปิด</button>
                    </div>
                  </div>
                <!-- /.modal-content -->
              </div>
            <!-- /.modal-dialog -->
            </div> 
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
</div>
<div id="err-search" class="swal2-container swal2-center swal2-fade swal2-shown" style="display: none;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
                <span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span>
            </div>
            <h2 class="swal2-title" id="swal2-title" style="display: flex;"> เกิดข้อผิดพลาด... </h2>
        </div>
        <div class="swal2-content"><div id="swal2-content" style="display: block;">
                กรุณาเลือกข้อมูลตารางที่ต้องก่อน<span id="content-err"></span>!!!
            </div>
        </div>
        <div class="swal2-actions" style="display: flex;">
            <button type="button" id="btn-err" class="swal2-confirm swal2-styled btn btn-info"> ยืนยัน </button>
        </div>
    </div>
</div>
<script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
<script>
    let now = new Date();
    let month = now.getMonth()+1;
    let day = now.getDate();
    let hours = now.getHours();
    let minutes = now.getMinutes();
    if (String(month).length == 1){
        month = "0"+String(month);
    }
    if (String(day).length == 1){
        day = "0"+String(day);
    }
    if (String(hours).length == 1){
        hours = "0"+String(hours);
    }
    if (String(minutes).length == 1){
        minutes = "0"+String(minutes);
    }
    $('#today').text(day+"/"+month+"/"+now.getFullYear()+" "+hours+":"+minutes);
    $('#today1').text(day+"/"+month+"/"+now.getFullYear()+" "+hours+":"+minutes);
    let fullpath = '<%- fullpath %>'
</script>
<%- include('../_footer') -%>
