<%- include('../_header') -%>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-12 align-self-center">
            <h3 class="page-title">Agent Store</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าหลัก</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Agent Store</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="a-store">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-12">
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">รายการ Service Agent ทั้งหมด<span class="text-secondary"></span></h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-boardless">
                                <thead>
                                    <th> ลำดับ </th>
                                    <th> ชื่อ Service </th>
                                    <th> จำนวนที่สามารถใช้ </th>
                                    <!-- <th> วัน / เวลา ที่สร้าง </th> -->
                                    <th> เปิด / ปิดให้บริการ </th>
                                </thead>
                                <tbody id="table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-secondary">
                            <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <span id="total"></span> รายการ</span>
                        </div>
                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example" class="mt-2">
                                <ul class="pagination" id="pagination-wrapper">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- Modal loading -->
    <div id="alert-loading" class="swal2-container swal2-center swal2-fade swal2-shown" style="overflow-y: auto; display: none;">
        <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
            <div class="swal2-header">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="swal2-content text-center">
                <br/>
                กำลังโหลดข้อมูลโปรดรอสักครู่
            </div>
            <div class="swal2-footer" style="display: none;">
            </div>
        </div>
    </div>
</div>
<%- include('../_footer') -%>
