<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Monitor</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>monitor">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">กราฟ</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">


        <div class="row">
            


            <div class="col-lg-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">ตรวจสอบกิจกรรมของผู้ใช้</h4>
                    </div>
                    <form action="/<%=process.env.SUBFOLDER%>user_activity_data_view" id="post" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="d-flex" >
                                <div class="col-4" style="margin-left: 0.5%;">
                                    <select name="users" id="select2-with-tags" multiple="" class="form-control users" onchange="selectCheck()" placeholder="เลือกผู้ใช้งาน" style="background-color: white;width: 100%;">
                                        <% if(data3) { %>
                                            <% if(datach == "sum") { %>
                                                <option value="sum" selected>ผู้ใช้งานทั้งหมด</option>
                                                <% for(var i=0; i<data3.length; i++){ %>
                                                        <option class="test22" value="<%= data3[i].acc_id %>"><%= data3[i].name %></option>

                                                    <%}%>
                                                <%}else{%>
                                                    <option value="sum">ผู้ใช้งานทั้งหมด</option>
                                                    <% for(var i=0; i<data3.length; i++){ %>
                                                        <% var check_n = 0 %>
                                                        <% for(var j=0; j<data2.length; j++){ %>
                                                            <% if(data3[i].acc_id == data2[j].acc_id) { %>
                                                                <option value="<%= data3[i].acc_id %>" selected><%= data3[i].name %></option>
                                                                <% check_n = 1; %>
                                                            <%}%>
                                                            <%}%>
                                                            <% if(check_n == 0) { %>
                                                            <option value="<%= data3[i].acc_id %>"><%= data3[i].name %></option>
                                                            <%}%>
                                                        <%}%>
                                            <%}%>
                                              <%}%>
                                    </select>
                                </select><input id="mySelectCheck"  type="hidden" value="<%= datasl2 %>">
                                </div>
                                <div class="input-group" style="margin-right: 5%;">
                                    <input class="form-control" type="date" name="date1" value="<%= date[0].pdate %>" id="date1" required>
                                    <span class="input-group-text" id="basic-addon1">ถึง</span>
                                    <input class="form-control" type="date" name="date2" value="<%= date[0].ndate %>" id="date2" required>
                                    
                                    <select name="type" id="type" class="form-control" style="background-color: white;" required>
                                        <% if(data11) { %>
                                            <% if(datat == "sum") { %>
                                                <option value="sum" selected>ทุกประเภท</option>
                                                <% for(var ii=0; ii<data11.length; ii++){ %>
                                                    <option value="<%= data11[ii].type %>"><%= data11[ii].type %></option>
                                                    <%}%>
                                                <%}else{%>
                                                    <option value="sum">ทุกประเภท</option>
                                                    <% for(var jj=0; jj<data11.length; jj++){ %>
                                                        <% var check_n = 0 %>
                                                        <% if(data11[jj].type == datat) { %>
                                                            <option value="<%= data11[jj].type %>" selected><%= data11[jj].type %></option>
                                                            <% check_n = 1; %>
                                                        <%}%>
                                                        <% if(check_n == 0) { %>
                                                            <option value="<%= data11[jj].type %>"><%= data11[jj].type %></option>
                                                        <%}%>
                                                    <%}%>
                                                <%}%>
                                        <%}%>
                                    </select>
                                    <input type="text" class="form-control" placeholder="ค้นหา.." id="search"
                                        name="search" aria-label="" aria-describedby="button-addon2">
                                    <button type="submit" class="btn btn-outline-warning" id="button-search"> ค้นหา </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
            <% if (data2) { %>
                <% for (var i=0; i< data2.length; i++) { %>
                    <div class="col-lg-12" id="chart5">
                        <div class="card">
                            <div class="card-body">
                                

                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap">
                                            <div>
                                                <h4>จำนวนการใช้งานของผู้ใช้ <%= data2[i].name %></h4>
                                                <h6 class="card-subtitle" id=""></h6>
                                               </div>
                                            <div class="ms-auto ">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <h6 class="text-muted"><i class="fa fa-circle me-1 text-info"></i>จำนวนการใช้งาน</h6> </li>
                                                    <li class="list-inline-item">
                                                        <h6 class="text-muted"><i class="fa fa-circle me-1 text-danger"></i>ข้อมูลส่งออก</h6> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div id="revenue-statistics-3-<%= data2[i].acc_id %>" style="height: 350px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <%}%>

        </div>
    </div>

    <!-- Row -->

    <!-- Row -->



    <!-- END MODAL -->
    <%- include('../_footer') -%>

        <!--This page JavaScript -->
        <script src="/UI/assets/libs/chartist/dist/chartist.min.js"></script>
        <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
        <script src="/UI/assets/libs/echarts/dist/echarts-en.min.js"></script>
        <script src="/UI/assets/libs/flot/excanvas.min.js"></script>
        <script src="/UI/assets/libs/flot/jquery.flot.js"></script>
        <script src="/UI/assets/libs/jquery.flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <script src="/UI/assets/libs/d3/dist/d3.min.js"></script>
        <script src="/UI/assets/libs/c3/c3.min.js"></script>
        <script src="/UI/assets/libs/gaugeJS/dist/gauge.min.js"></script> -->
        <script src="/UI/dist/js/pages/widget/widget-charts.js"></script>
        <script src="/UI/assets/libs/apexcharts/dist/apexcharts.js"></script>
        <script src="/UI/dist/js/pages/widget/card-custom.js"></script>

        <!-- This Page table bootstrap-->
        <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
        <script src="/UI/assets/libs/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="/UI/assets/libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>
        <script src="/UI/assets/libs/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
        <script src="/UI/dist/js/pages/tables/bootstrap-table.init.js"></script>




        <!-- Custom fullcalendar -->

        <script src="/UI/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
        <script src="/UI/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>

        <script src="/UI/assets/libs/moment/min/moment.min.js"></script>
        <script src="/UI/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>




        <script src="/UI/dist/js/pages/echarts/line/line-charts.js"></script>

        <script src="/UI/dist/js/pages/chartsLog/ative_icon.js"></script>

        <script>
            
            function selectCheck(){
                //Present Value
			var text = $('#select2-with-tags').val().toString();
            
			if(text != '') {
                
				if($('#mySelectCheck').val() == 'sum') { //Check Old Value -> Start with All ?
					var arr = text.split(',');
                    // console.log("1",arr.length);
					if(arr.length > 1) {
						var value_adjust = '';
						for(var i = 1;i < arr.length;i++) {
							if(i == 1){
							     value_adjust += arr[i];
                            }
						}
						$('#select2-with-tags').val([value_adjust]);
						$('#select2-with-tags').trigger('change');
						
					}
                    // console.log($('#select2-with-tags').val());
				}else {
					var arr = text.split(',');
					if(arr[0] == 'sum' && text != 'sum') { //All Mode
						$('#select2-with-tags').val(['sum']);
						$('#select2-with-tags').trigger('change');
                        // console.log($('#select2-with-tags').val());
					}
				}
			}
			//Set Present Value for Old Value
			$('#mySelectCheck').val($('#select2-with-tags').val());
            console.log($('#mySelectCheck').val());
            }

        </script>
        
        <script>
            function heart_1_f() {
                Sub = document.getElementById('SubDomain').value;
                heart.setAttribute("class", "mdi mdi-heart-outline");
                heart.setAttribute("style", "cursor: pointer; font-size: 150%");
                heart.setAttribute("onclick", "heart_1()");

                var id = { name: "heart-1", status: '0' };
                $.ajax({
                    url: `/${Sub}up` ,
                    type: 'post',
                    dataType: 'json',
                    data: id,

                    success: function (data) {
                        console.log(data);
                    },
                });
            }
        </script>
        <script>
            $(function () {

                    data1 = <%-JSON.stringify(data21)%>;
                    data2 = <%-JSON.stringify(data22)%>;
                    data3 = <%-JSON.stringify(data23)%>;
                    data4 = <%-JSON.stringify(data24)%>;
                    console.log("1111",data1);
                    console.log("2222",data2);
                    console.log("3333",data3);
                    console.log("4444",data4);

                    for (let index = 0; index < data1.length; index++) {
                        var Revenue_Statistics = {
                            series: [
                                {
                                    name: "จำนวนการใช้งาน ",
                                    data: data2[index],
                                },
                                {
                                    name: "ข้อมูลส่งออก ",
                                    data: data4[index],
                                },
                            ],
                            chart: {
                                fontFamily: 'Rubik,sans-serif',
                                height: 500,
                                type: "area",
                                toolbar: {
                                    show: false,
                                },
                            },
                            fill: {
                                type: 'solid',
                                opacity: 0.2,
                                colors: ["#009efb", "#A4303F"],
                            },
                            grid: {
                                show: true,
                                borderColor: "rgba(0,0,0,0.1)",
                                strokeDashArray: 3,
                                xaxis: {
                                    lines: {
                                        show: true
                                    }
                                },
                            },
                            colors: ["#009efb", "#A4303F"],
                            dataLabels: {
                                enabled: false,
                            },
                            stroke: {
                                curve: "smooth",
                                width: 1,
                                colors: ["#009efb", "#A4303F"],
                            },
                            markers: {
                                size: 3,
                                colors: ["#009efb", "#A4303F"],
                                strokeColors: "transparent",
                            },
                            xaxis: {
                                axisBorder: {
                                    show: true,
                                },
                                axisTicks: {
                                    show: true,
                                },
                                categories: data3[index],
                                labels: {
                                    style: {
                                        colors: "#a1aab2",
                                    },
                                },
                            },
                            yaxis: {
                                tickAmount: 5,
                                labels: {
                                    style: {
                                        colors: "#a1aab2",
                                    },
                                },
                            },
                            tooltip: {
                                x: {
                                    format: "dd/MM/yy HH:mm",
                                },
                                theme: "dark",
                            },
                            legend: {
                                show: false,
                            },
                        };
                        var chart_area_spline = new ApexCharts(document.querySelector(`#revenue-statistics-3-${data1[index].acc_id}`), Revenue_Statistics);
                        chart_area_spline.render();

                    }
            });
        </script>

        <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
        <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
        <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>