<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">กำหนดรูปแบบข้อมูล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/<%=process.env.SUBFOLDER%>index2">หน้าแรก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">กำหนดรูปแบบข้อมูล (Pattern)</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="index">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <a href="/<%=process.env.SUBFOLDER%>pattern/datatype">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">รูปแบบข้อมูล</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <%= pm.length %>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-success" id="bar1">100%</span>
                            <div class="progress">
                                <div id='progress-bar1' class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ GB</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0"><span id="diskSpace">
                                        <%= checkDiskSpace.size %>
                                    </span></h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-info" id="bar2">
                                <%= 100-(((parseInt(checkDiskSpace.free)/parseInt(checkDiskSpace.size))*100).toFixed(0))
                                    %>%
                            </span>
                            <div class="progress">
                                <div id='progress-bar2' class="progress-bar bg-info" role="progressbar" aria-valuenow=""
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <a href="javascript:void(0);">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">การใช้งานรูปแบบ</h4>
                            <div class="text-end">
                                <h2 class="fw-light mb-0">
                                    <%= used %>
                                </h2>
                                <span class="text-muted">ณ วันที่ <%= (new Date().getDate())+"/"+((new
                                        Date().getMonth())+1)+"/"+(new Date().getFullYear()) + " " + (new
                                        Date().getHours()) + ":" + (new Date().getMinutes()) %></span>
                            </div>
                            <span class="text-purple" id="bar3">
                                <%= used_length %>%
                            </span>
                            <div class="progress">
                                <div id='progress-bar3' class="progress-bar bg-purple" role="progressbar"
                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">สร้างรูปแบบข้อมูล สำหรับค้นหาตรวจสอบ และ ป้องกัน<span
                                class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <form action="javascript:void(0);" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="/<%=process.env.SUBFOLDER%>pattern/new" class='btn btn-success'>
                                        <i class="fas fa-circle-notch"></i>
                                        สร้างรูปแบบข้อมูล
                                    </a>
                                </div>
                                <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                    <div class="input-group mb-2">
                                        <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                                data-feather="refresh-cw"></i></a>
                                        <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput"
                                            name="search" aria-label="" aria-describedby="button-addon2" value="">
                                        <button type="submit" class="btn btn-outline-warning"> Search </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="min-height: 470px;">
                            <p class="h4 split-para">รูปแบบข้อมูลส่วนบุคคล </p>
                            <table id="myTable" class="tablesaw table-striped table-bordered table-hover table"
                                data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                            data-tablesaw-priority="3" class="border text-center no">ลำดับ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            ชื่อรูปแบบ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                            class="border text-center">
                                            ข้อมูลที่ใช้</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่ใช้</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วันที่สิ้นสุด</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ผู้สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center" style="vertical-align: middle;">
                                            อุปกรณ์/Agent/<br />Database ภายนอก</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center" width="6%">
                                            ดูข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center" width="7%">
                                            แก้ไขข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center" widht="5%">
                                            ลบข้อมูล</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                <span>แสดงผล <span id="start-1"></span> ถึง <span id="end"></span> ทั้งหมด <%= pm.length
                                        %>
                                        รายการ</span>
                            </div>
                            <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" style="margin-right: 2%;">
                                    <ul class="pagination" id="pagination-wapper">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <!-- Row -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">เอกสารกิจกรรม/เอกสารนโยบายข้อมูลส่วนบุคคล (Policy)
                            ที่ยังไม่ได้ดำเนินการจัดรูปแบบ (Pattern)<span class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <div style="min-height: 470px;">
                            <p class="h4 split-para">เอกสารกิจกรรม/เอกสารนโยบายข้อมูลส่วนบุคคล </p>
                            <table id="myTable1" class="tablesaw no-wrap table-striped table-bordered table-hover table"
                                data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                <thead>
                                    <tr>
                                        <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                            data-tablesaw-priority="3" class="border text-center no">ลำดับ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            ชื่อเอกสาร</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                            class="border text-center">
                                            ประเภทเอกสาร</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            วัน/เวลาที่สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ผู้สร้าง</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                            class="border text-center">
                                            ดูเอกสาร</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-policy">

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                <span>แสดงผล <span id="start-policy"></span> ถึง <span id="end-policy"></span> ทั้งหมด
                                    <span id="total-policy"></span> รายการ</span>
                            </div>
                            <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" style="margin-right: 2%;">
                                    <ul class="pagination" id="pagination-wapper-policy">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- From Add Pattern -->
        <!-- <form action="/<%=process.env.SUBFOLDER%>pattern/add" method="POST">
        <!--     <div id="new_pattern" class="modal fade modal-scroll">
        <!--         <div class="modal-dialog modal-xl1">
        <!--             <div class="modal-content">
        <!--                 <div class="modal-header modal-colored-header border-bottom title-part-padding">
        <!--                     <h4 class="modal-title" style="color: black; font-weight: bold;">
        <!--                         <i class="fas fa-circle-notch"></i>&nbsp;สร้างการนำเข้าข้อมูล
        <!--                     </h4>
        <!--                 </div>
        <!--                 <div class="modal-body">
        <!--                     <div class="h5" style="font-weight: bold;">
        <!--                         กำหนดค่าข้อมูล
        <!--                     </div>
        <!--                     <div id='from-add-pattern'>
        <!--                         <table class="table-pattern">
        <!--                             <th class='th-pattern'>
        <!--                                 ชื่อรูปแบบข้อมูล : &nbsp;
        <!--                             </th>
        <!--                             <td class='td-input-pattern'>
        <!--                                 <input type="text" name="pattern_name" placeholder="กรุณาป้อนชื่อรูปแบบ.."
        <!--                                     class="form-control size-input-pattern " required>
        <!--                             </td>
        <!--                             <td class='td-option-pattern'>
        <!--                                 &nbsp; <a id="btn-add-policy" href="javascript:void(0);" type="button"
        <!--                                     class="option-pattern" data-bs-toggle="modal"
        <!--                                     data-bs-target="#add-policy">เลือกข้อมูลตามเอกสาร Policy</a>
        <!--                                 <input name="doc_id" value="" readonly hidden />
        <!--                             </td>
        <!--                         </table>
        <!--                         <table class="table-pattern">
        <!--                             <th class='th-pattern'>
        <!--                                 Tag : &nbsp;
        <!--                             </th>
        <!--                             <td class='td-input-pattern'>
        <!--                                 <input type="text" id="" name="pattern_tag" placeholder="กรุณาป้อนTag.."
        <!--                                     class="form-control size-input-pattern" required readonly>
        <!--                             </td>
        <!--                             <td class='td-option-pattern'>
        <!--                                 &nbsp; <a id="btn-add-tags" href="javascript:void(0);" type="button"
        <!--                                     class="option-pattern" data-bs-toggle="modal"
        <!--                                     data-bs-target="#add-tags">เพิ่ม
        <!--                                     Tag ที่ต้องการ</a>
        <!--                             </td>
        <!--                         </table>
        <!--                         <table class="table-pattern">
        <!--                             <th class='th-pattern'>
        <!--                                 Label : &nbsp;
        <!--                             </th>
        <!--                             <td class='td-input-pattern'>
        <!--                                 <input type="text" id="" name="pattern_label" placeholder="กรุณาป้อนLabel.."
        <!--                                     class="form-control size-input-pattern">
        <!--                             </td>
        <!--                             <td class='td-option-pattern'>
        <!--                                 <span class='h6'
        <!--                                     style="font-weight: bold; color: #54667a;">&nbsp;(ถ้าต้องการระบุเพิ่มเติม)</span>
        <!--                             </td>
        <!--                         </table>
        <!--                         <table class="table-pattern">
        <!--                             <th class='th-pattern'>
        <!--                                 เริ่ม : &nbsp;
        <!--                             </th>
        <!--                             <td class='td-input-pattern'>
        <!--                                 <input type="date" name="pattern_start_date" id="start_time" value=""
        <!--                                     class="form-control size-input-pattern" required>
        <!--                             </td>
        <!--                             <th style="width: 150px;">
        <!--                                 &nbsp;ระยะเวลาการจัดเก็บ
        <!--                             </th>
        <!--                             <td style="width: 54px;">
        <!--                                 <input type="number" name="pattern_total_date" value="" min="1"
        <!--                                     class="form-control size-input-pattern2" required>
        <!--                             </td>
        <!--                             <th style="width: auto;">
        <!--                                 &nbsp; <span>วัน</span>
        <!--                             </th>
        <!--                         </table>
        <!--                         <div class="h5" style="font-weight: bold;">
        <!--                             ชนิดข้อมูล
        <!--                         </div>
        <!--                         <table class="table-pattern">
        <!--                             <div id='from-add-pattern'>
        <!--                                 <div class="row" style="margin-left: 5%;">
        <!--                                     <p>
        <!--                                     <div class="col-sm-6">
        <!--                                         <div class="custom-control">
        <!--                                             <input type="checkbox" id="customCheck4"
        <!--                                                 name="pattern_type_data_file" class="form-check-input">
        <!--                                             <label class="form-check-label h6" for="customCheck4"
        <!--                                                 style="font-weight: bold;">File MS Excel / CSV
        <!--                                                 &nbsp;</label>
        <!--                                             <span id="file_path"></span>
        <!--                                             <span id="path"></span>
        <!--                                         </div>
        <!--                                     </div>
        <!--                                     <div class="col-sm-6">
        <!--                                         <div class="custom-control">
        <!--                                             <input type="checkbox" id="customCheck5"
        <!--                                                 name="pattern_type_data_database" class="form-check-input"
        <!--                                                 style=" vertical-align: middle;">
        <!--                                             <label class="form-check-label h6" for="customCheck5"
        <!--                                                 style="font-weight: bold;">Database
        <!--                                                 &nbsp;<span id="database"></span>
        <!--                                             </label>
        <!--                                         </div>
        <!--                                     </div>
        <!--                                     </p>
        <!--                                 </div>
        <!--                             </div>
        <!--                         </table>
        <!--                         <div class="h5" style="font-weight: bold;">
        <!--                             วิธีจัดเก็บข้อมูลส่วนตัวบุคคล
        <!--                         </div>
        <!--                         <table class="table-pattern">
        <!--                             <div id='from-add-pattern'>
        <!--                                 <div class="row" style="margin-left: 5%;">
        <!--                                     <p>
        <!--                                     <div class="col-sm-4">
        <!--                                         <div class="custom-control">
        <!--                                             <input type="checkbox" id="customCheck6"
        <!--                                                 name="pattern_storage_method_inside" class="form-check-input">
        <!--                                             <label class="form-check-label h6" for="customCheck6"
        <!--                                                 style="font-weight: bold;">ภายใน Alltra</label>
        <!--                                         </div>
        <!--                                     </div>
        <!--                                     <div class="col-sm-8">
        <!--                                         <div class="custom-control">
        <!--                                             <input type="checkbox" id="customCheck7"
        <!--                                                 name="pattern_storage_method_outside" class="form-check-input"
        <!--                                                 style=" vertical-align: middle;">
        <!--                                             <label class="form-check-label h6" for="customCheck7"
        <!--                                                 style="font-weight: bold;">ภายนอก
        <!--                                                 &nbsp;<span id="outside_storage_method"></span>
        <!--                                             </label>
        <!--                                         </div>
        <!--                                     </div>
        <!--                                     </p>
        <!--                                 </div>
        <!--                             </div>
        <!--                         </table>
        <!--                         <span id="outside_option-storage_method"></span>
        <!--                     </div><br />
        <!--                     <div id='from-add-pattern'>
        <!--                         <div class="h5" style="font-weight: bold;">
        <!--                             ข้อมูลส่วนบุคคลที่จัดเก็บ (ตัวอย่าง)
        <!--                         </div>
        <!--                         <div class="row">
        <!--                             <div class="col-12 text-center">
        <!--                                 <a id="previewer" href="javascript:void(0);" class="btn btn-secondary"
        <!--                                     aria-disabled="true">Previewer</a>
        <!--                             </div>
        <!--                         </div>
        <!--                     </div><br />
        <!--                     <div id='from-add-pattern'>
        <!--                         <div id="select_processing_base">
        <!--                             <span class="h5" style="font-weight: bold;">ฐานการประมวลผล (ถ้าระบุได้) &nbsp;
        <!--                             </span>
        <!--                             <select name="pattern_processing_base_id" id=""
        <!--                                 class="form-control size-input-pattern4 input-radio" required>
        <!--                                 <option value="" disabled selected>กรุณเลือก...</option>
        <!--                                 <% for(i in process) {%>
        <!--                                     <option value="<%= process[i].pattern_processing_base_id%>">
        <!--                                         <%= process[i].pattern_processing_base_name %>
        <!--                                     </option>
        <!--                                     <%}%>
        <!--                             </select> &nbsp;
        <!--                             <a id="btn_add_processing_base" href="javascript:void(0);" type="button"
        <!--                                 data-bs-toggle="modal" data-bs-target="#add-processing-base"
        <!--                                 class="option-pattern">เพิ่มฐานการประมวล</a>
        <!--                         </div>
        <!--                     </div><br />
        <!--                     <div id='from-add-pattern'>
        <!--                         <span class="h5" style="font-weight: bold;">ผู้ประมวลผล (ถ้าระบุได้) &nbsp;</span>
        <!--                         <input type="checkbox" class="form-check-input" id="customCheck1"
        <!--                             style="vertical-align: middle;" name="pattern_processor_inside">
        <!--                         <label class="form-check-label1" for="customCheck1">
        <!--                             <span style="font-weight: bold;">ภายใน &nbsp;</span>
        <!--                             <span id="process_inside"></span>
        <!--                         </label>
        <!--                         <span align="left" id="users_inside" class="span-image" style="display: inline;"></span>
        <!--                         <input type="text" name="pattern_processor_inside_id" placeholder=""
        <!--                             class="form-control" readonly hidden>
        <!--                         <br />
        <!--                         <input type="checkbox" class="form-check-input" id="customCheck2"
        <!--                             style="margin-left: 174px; margin-top: 1%;" name="pattern_processor_outside">
        <!--                         <label class="form-check-label2" for="customCheck2" style="vertical-align: -8.5px;">
        <!--                             <span style="font-weight: bold;">ภายนอก &nbsp;</span>
        <!--                             <span id="process_outside"></span>
        <!--                         </label>
        <!--                         <span align="left" id="users_outside" class="span-image"
        <!--                             style="display: inline; vertical-align: -8.5px;"></span>
        <!--                         <input type="text" name="pattern_processor_outside_id" placeholder=""
        <!--                             class="form-control" readonly hidden>
        <!--                     </div>
        <!--                     <div id='from-add-pattern' style="margin-top: 2%;">
        <!--                         <input type="checkbox" class="form-check-input" id="customCheck3"
        <!--                             style="margin-top: 0.3%;" name="pattern_set_end_date">
        <!--                         <label class="form-check-label" for="customCheck3">
        <!--                             <span class="h5"
        <!--                                 style="font-weight: bold; vertical-align: middle;">กำหนดระยะเวลาสิ้นสุด
        <!--                                 &nbsp;</span>
        <!--                             <span id="total_stop_time"></span>
        <!--                         </label>
        <!--                     </div><br />
        <!--                     <div id='from-add-pattern'>
        <!--                         <div class="row">
        <!--                             <div class="col-sm-5">
        <!--                                 <div class="custom-control">
        <!--                                     <input type="checkbox" id="customCheck11" name="pattern_dpo_approve_process"
        <!--                                         class="form-check-input">
        <!--                                     <label class="form-check-label h5" for="customCheck11"
        <!--                                         style="font-weight: bold;">DPO
        <!--                                         ต้องอนุมัติทุกครั้งถึงสามารถประมวลผลได้</label>
        <!--                                 </div>
        <!--                             </div>
        <!--                             <div class="col-sm-6">
        <!--                                 <div class="custom-control">
        <!--                                     <input type="checkbox" id="customCheck12"
        <!--                                         name="pattern_dpo_approve_raw_file_out" class="form-check-input"
        <!--                                         style=" vertical-align: middle;">
        <!--                                     <label class="form-check-label h5" for="customCheck12"
        <!--                                         style="font-weight: bold;">DPO
        <!--                                         ต้องอนุมัติทุกครั้งที่จะนำข้อมูล Raw file ออกได้
        <!--                                     </label>
        <!--                                 </div>
        <!--                             </div>
        <!--                         </div>
        <!--                     </div>
        <!--                 </div>
        <!--                 <div class="modal-footer">
        <!--                     <div class="button-center-success">
        <!--                         <button type="submit" class="btn btn-success font-weight-large">ยืนยัน</button>
        <!--                     </div>
        <!--                     <div class="button-center-danger">
        <!--                         <button type="button" class="btn btn-danger font-weight-large"
        <!--                             data-bs-dismiss="modal">ยกเลิก</button>
        <!--                     </div>
        <!--                 </div>
        <!--             </div><!-- /.modal-content -->
        <!--         </div><!-- /.modal-dialog -->
        <!--     </div>
        <!--     <!-- Modals Add Policy -->
        <!--     <div id="add-policy" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        <!--         aria-hidden="true" style="display: none; margin-top: 2%">
        <!--         <div class="modal-dialog">
        <!--             <div class="modal-content">
        <!--                 <div class="modal-header modal-colored-header border-bottom title-part-padding">
        <!--                     <h4 class="modal-title" style="color: black; font-weight: bold;">
        <!--                         ข้อมูลที่ใช้
        <!--                     </h4>
        <!--                 </div>
        <!--                 <div class="modal-body">
        <!--                     <div class="h5" style="font-weight: bold;">
        <!--                         เลือกข้อมูลที่ต้องการใช้งาน
        <!--                     </div>
        <!--                     <div>
        <!--                         <table class="table table-boardless">
        <!--                             <tbody id="table-body-policy-add">
        <!--                             </tbody>
        <!--                         </table>
        <!--                     </div>
        <!--                     <div class="row">
        <!--                         <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
        <!--                             <nav aria-label="Page navigation example">
        <!--                                 <ul class="pagination" id="pagination-wapper-policy-add">
        <!--                                 </ul>
        <!--                             </nav>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="row text-center">
        <!--                         <div class="col-md-12 text-secondary">
        <!--                             <span>แสดงผล <span id="start-policy-add"></span> ถึง <span
        <!--                                     id="end-policy-add"></span>
        <!--                                 ทั้งหมด <span id="total-policy-add"></span> รายการ</span>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="modal-footer">
        <!--                         <div style="margin-right: 42%;">
        <!--                             <button type="button" class="btn btn-danger font-weight-large"
        <!--                                 data-bs-dismiss="modal">ยกเลิก</button>
        <!--                         </div>
        <!--                     </div>
        <!--                 </div>
        <!--                 <!-- /.modal-content -->
        <!--             </div>
        <!--             <!-- /.modal-dialog -->
        <!--         </div>
        <!--     </div>
        <!--     <!-- Modals Add Tags -->
        <!--     <div id="add-tags" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        <!--         aria-hidden="true" style="display: none; margin-top: 2%">
        <!--         <div class="modal-dialog">
        <!--             <div class="modal-content">
        <!--                 <div class="modal-header modal-colored-header border-bottom title-part-padding">
        <!--                     <h4 class="modal-title" style="color: black; font-weight: bold;">
        <!--                         ข้อมูลที่ใช้
        <!--                     </h4>
        <!--                 </div>
        <!--                 <div class="modal-body">
        <!--                     <div class="h5" style="font-weight: bold;">
        <!--                         เลือกข้อมูลที่ต้องการใช้งาน
        <!--                     </div>
        <!--                     <div>
        <!--                         <table class="table table-boardless">
        <!--                             <tbody id="table-body-tag-add">
        <!--                             </tbody>
        <!--                         </table>
        <!--                     </div>
        <!--                     <div class="row">
        <!--                         <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
        <!--                             <nav aria-label="Page navigation example">
        <!--                                 <ul class="pagination" id="pagination-wapper-tag-add">
        <!--                                 </ul>
        <!--                             </nav>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="row text-center">
        <!--                         <div class="col-md-12 text-secondary">
        <!--                             <span>แสดงผล <span id="start-tag-add"></span> ถึง <span id="end-tag-add"></span>
        <!--                                 ทั้งหมด
        <!--                                 <span id="total-tag-add"></span> รายการ</span>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="modal-footer">
        <!--                         <div style="margin-right: 42%;">
        <!--                             <button type="button" class="btn btn-danger font-weight-large"
        <!--                                 data-bs-dismiss="modal">ยกเลิก</button>
        <!--                         </div>
        <!--                     </div>
        <!--                 </div>
        <!--                 <!-- /.modal-content -->
        <!--             </div>
        <!--             <!-- /.modal-dialog -->
        <!--         </div>
        <!--     </div>
        <!--     <!-- Modals Add Processing_base -->
        <!--     <div id="add-processing-base" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        <!--         aria-hidden="true" style="display: none; margin-top: 2%">
        <!--         <div class="modal-dialog">
        <!--             <div class="modal-content">
        <!--                 <div class="modal-header modal-colored-header border-bottom title-part-padding">
        <!--                     <h4 class="modal-title" style="color: black; font-weight: bold;">
        <!--                         สร้างฐานการประมวลผล
        <!--                     </h4>
        <!--                 </div>
        <!--                 <div class="modal-body">
        <!--                     <div class="h5" style="font-weight: bold;">
        <!--                         สร้างฐานการประมวลผลที่ต้องการใช้งาน
        <!--                     </div>
        <!--                     <div>
        <!--                         <table class="table table-boardless">
        <!--                             <tbody id="">
        <!--                                 <th class="th-pattern1">ฐานการประมวลผล : </th>
        <!--                                 <td class="td-option-pattern"><input type="text"
        <!--                                         name="pattern_processing_base_name"
        <!--                                         placeholder="กรุณป้อนฐานการประมวลผล..." class='form-control' /></td>
        <!--                             </tbody>
        <!--                         </table>
        <!--                     </div>
        <!--                     <div class="modal-footer">
        <!--                         <div class="button-center-success">
        <!--                             <a id="add_processing_base" type="button"
        <!--                                 class="btn btn-success font-weight-large">ยืนยัน</a>
        <!--                         </div>
        <!--                         <div class="button-center-danger1">
        <!--                             <button type="button" class="btn btn-danger font-weight-large"
        <!--                                 data-bs-dismiss="modal">ยกเลิก</button>
        <!--                         </div>
        <!--                     </div>
        <!--                 </div>
        <!--                 <!-- /.modal-content -->
        <!--             </div>
        <!--             <!-- /.modal-dialog -->
        <!--         </div>
        <!--     </div>
        <!--     <!-- Modals Add Users (Inside) -->
        <!--     <div id="add-users" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        <!--         aria-hidden="true" style="display: none; margin-top: 3%">
        <!--         <div class="modal-dialog">
        <!--             <div class="modal-content">
        <!--                 <div class="modal-header modal-colored-header border-bottom title-part-padding">
        <!--                     <h4 class="modal-title" style="color: black; font-weight: bold;">
        <!--                         สมาชิกในระบบ Alltra
        <!--                     </h4>
        <!--                 </div>
        <!--                 <div class="modal-body">
        <!--                     <div class="h5" style="font-weight: bold;">
        <!--                         เลือกสมาชิกในระบบ Alltra ที่ต้องการใช้งาน
        <!--                     </div>
        <!--                     <div>
        <!--                         <table class="table table-boardless">
        <!--                             <tbody id="table-body-users">
        <!--                             </tbody>
        <!--                         </table>
        <!--                     </div>
        <!--                     <div class="row">
        <!--                         <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
        <!--                             <nav aria-label="Page navigation example">
        <!--                                 <ul class="pagination" id="pagination-wapper-users">
        <!--                                 </ul>
        <!--                             </nav>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="row text-center">
        <!--                         <div class="col-md-12 text-secondary">
        <!--                             <span>แสดงผล <span id="start-users"></span> ถึง <span id="end-users"></span>
        <!--                                 ทั้งหมด <span id="total-users"></span> รายการ</span>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="modal-footer">
        <!--                         <div style="margin-right: 42%;">
        <!--                             <button type="button" class="btn btn-danger font-weight-large"
        <!--                                 data-bs-dismiss="modal">ยกเลิก</button>
        <!--                         </div>
        <!--                     </div>
        <!--                 </div>
        <!--                 <!-- /.modal-content -->
        <!--             </div>
        <!--             <!-- /.modal-dialog -->
        <!--         </div>
        <!--     </div>
        <!--     <!-- Modals Add Users (Outside) -->
        <!--     <div id="add-users-1" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
        <!--         aria-hidden="true" style="display: none; margin-top: 3%">
        <!--         <div class="modal-dialog">
        <!--             <div class="modal-content">
        <!--                 <div class="modal-header modal-colored-header border-bottom title-part-padding">
        <!--                     <h4 class="modal-title" style="color: black; font-weight: bold;">
        <!--                         สมาชิกในระบบ Alltra
        <!--                     </h4>
        <!--                 </div>
        <!--                 <div class="modal-body">
        <!--                     <div class="h5" style="font-weight: bold;">
        <!--                         เลือกสมาชิกในระบบ Alltra ที่ต้องการใช้งาน
        <!--                     </div>
        <!--                     <div>
        <!--                         <table class="table table-boardless">
        <!--                             <tbody id="table-body-users-1">
        <!--                             </tbody>
        <!--                         </table>
        <!--                     </div>
        <!--                     <div class="row">
        <!--                         <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
        <!--                             <nav aria-label="Page navigation example">
        <!--                                 <ul class="pagination" id="pagination-wapper-users-1">
        <!--                                 </ul>
        <!--                             </nav>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="row text-center">
        <!--                         <div class="col-md-12 text-secondary">
        <!--                             <span>แสดงผล <span id="start-users-1"></span> ถึง <span id="end-users-1"></span>
        <!--                                 ทั้งหมด <span id="total-users-1"></span> รายการ</span>
        <!--                         </div>
        <!--                     </div>
        <!--                     <div class="modal-footer">
        <!--                         <div style="margin-right: 42%;">
        <!--                             <button type="button" class="btn btn-danger font-weight-large"
        <!--                                 data-bs-dismiss="modal">ยกเลิก</button>
        <!--                         </div>
        <!--                     </div>
        <!--                 </div>
        <!--                 <!-- /.modal-content -->
        <!--             </div>
        <!--             <!-- /.modal-dialog -->
        <!--         </div>
        <!--     </div>
        <!-- </form>  -->
        <!-- From Delete Pattern -->
        <form id="del_pattern" method="POST">
            <div id="delete_pattern" class="modal fade modal-scroll">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-colored-header border-bottom title-part-padding">
                            <h4 class="modal-title" style="color: black; font-weight: bold;">
                                ยืนยันลบกำหนดรูปแบบข้อมูล
                            </h4>
                        </div>
                        <div id="modal-del-pattern" class="modal-body">
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">ชื่อรูปแบบข้อมูล: </th>
                                <td id="p_name"></td>
                            </table>
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">ข้อมูลที่ใช้: </th>
                                <td id="p_data"></td>
                            </table>
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">วันที่สร้าง: </th>
                                <td id="p_create"></td>
                            </table>
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">วันที่ใช้: </th>
                                <td id="p_start"></td>
                            </table>
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">วันที่สิ้นสุด: </th>
                                <td id="p_end"></td>
                            </table>
                            <table class="table table-boardless">
                                <th style="width: 30%; text-align: right;">ผู้สร้าง: </th>
                                <td id="p_user"></td>
                            </table>
                            <table class="table table-boardless">
                                <th class="text-center">อุปกรณ์/Agnet/Database ภายนอก</th>
                            </table>
                            <table class="table table-boardless">
                                <td id="p_options" class="text-center"></td>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="button-center-success">
                                <button type="submit" id="sub_del_pattern"
                                    class="btn btn-warning font-weight-large">ยืนยัน</button>
                            </div>
                            <div class="button-center-danger2">
                                <button type="button" class="btn btn-danger font-weight-large"
                                    data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- <div align = 'center' >
        <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
    </div> -->
    <%- include('../_footer') -%>